@{
    ViewBag.Title = "销售容差查询";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script>

    $(function () {
        BindAutocomplete("CarsName", "Cars", "Cars", "200", "150", "");
        BindAutocomplete("MaterialName", "Material", "Material", "200", "150", "");
        BindAutocomplete("CustomerName", "Customer", "Customer", "200", "150", "");
    })
    //获取条件 
    function GetConditionURL() {
        var url = "";
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BillNo = $("#BillNo").val();
        var VBillCode = $("#VBillCode").val();
        var ContractBillNo = $("#ContractBillNo").val();
        var DHBillNo = $("#DHBillNo").val();
        var Cars = $("#CarsName").val();
        var Material = $("#MaterialName").val();
        var Customer = $("#Customer").val();

        url += "&StartTime=" + StartTime + "&EndTime=" + EndTime + "&BillNo=" + BillNo;
        url += "&VBillCode=" + VBillCode + "&ContractBillNo=" + ContractBillNo + "&DHBillNo=" + DHBillNo;
        url += "&Cars=" + escape(Cars) + "&Material=" + escape(Material);
        url += "&Customer=" + escape(Customer);
        return url;
    }
    //回调查询确认事件
    function QueryClick(callBack) {
        callBack(GetConditionURL());
        closeDialog();
    }
</script>
<div class="QueryArea">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>
                开始时间：
            </th>
            <td>
                <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-7)" style="width: 200px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
            </td>
        </tr>
        <tr>
            <th>
                结束时间：
            </th>
            <td>
                <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 200px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
            </td>
        </tr>
        
        <tr>
            <th>
                车号：
            </th>
            <td>
                <input id="Cars" type="hidden" />
                <input id="CarsName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                物料：
            </th>
            <td>
                <input id="Material" type="hidden" />
                <input id="MaterialName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>  <tr>
            <th>
                客户：
            </th>
            <td>
                <input id="Customer" type="hidden" />
                <input id="CustomerName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr><tr>
            <th>
                过磅单号：
            </th>
            <td>
                <input id="BillNo" type="text" class="txt" style="width: 200px" />
            </td>
        </tr> <tr>
            <th>
                订单编号：
            </th>
            <td>
                <input id="VBillCode" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
         <tr>
            <th>
                合同编号：
            </th>
            <td>
                <input id="ContractBillNo" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>   
        <tr>
            <th>
                派车单号：
            </th>
            <td>
                <input id="DHBillNo" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
    </table>
</div>


