@{
    ViewBag.Title = "排除检验物料及分类";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        InitControl();
        var MTYPE = $("#MTYPE").val();

        if (MTYPE == "1") {
            $('#NAME').bind("click", function () {
                SelectMaterialType();
            });
        } else {
            $('#NAME').unbind("click");
            $('#NAME').bind("click", function () {
                SelectMaterial();
            });
        }
        $("#MTYPE").change(function () {
            var MTYPE = this.value;
            if (MTYPE == "1") {
                $('#NAME').unbind("click");
                $('#NAME').bind("click", function () {
                    SelectMaterialType();
                });
            } else {
                $('#NAME').unbind("click");
                $('#NAME').bind("click", function () {
                    SelectMaterial();
                });
            }
        })

    })
    function MaterialAutocomplete() {
        var txtname = "NAME";
        var $txtid = $("#ID");
        var $txtname = $("#NAME");
        var $txtshortname = $("#SHORTNAME");
        var $txtcode = $("#CODE");
        var $txtspellcode = $("#SPELLCODE");
        var width = "200";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtid.val(data.id);
            $txtname.val(data.name);
            $txtshortname.val(data.shortname);
            $txtcode.val(data.code);
            $txtspellcode.val(data.spellcode);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/Material", { keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="id" style="display: none;">' + DataJson[i].id + '</td>';
                    html += '<td id="code" style="display: none;">' + DataJson[i].code + '</td>';
                    html += '<td id="name" style="width: 100%;">' + DataJson[i].name + '</td>';
                    html += '<td id="shortname" style="display: none;">' + DataJson[i].shortname + '</td>';
                    html += '<td id="spellcode" style="display: none;">' + DataJson[i].spellcode + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtid.val(data.id);
                    $txtname.val(data.name);
                    $txtshortname.val(data.shortname);
                    $txtcode.val(data.code);
                    $txtspellcode.val(data.spellcode);
                });
            });
        }
    }

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseSet/MATCLASSDOC/SetFormControl", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
                $("#Password").val("******");
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/BaseSet/MATCLASSDOC/SubmitOrderForm?KeyValue=" + GetQuery('KeyValue') + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }

    function SelectMaterialType() {
        var url = "/BaseSet/MATCLASSDOC/SelectMaterialType";
        openMyDialog(url, "Form11111", "选取物料分类信息", 800, 380,
             function (iframe) {
                 top.frames[iframe].SelectText();
             }, function (iframe) {
                 top.frames[iframe].ClearText();
             });
    }

    function SelectMaterial() {
        var url = "/BaseSet/MATCLASSDOC/SelectMaterial";
        openMyDialog(url, "Form11111", "选取物料信息", 800, 380,
             function (iframe) {
                 top.frames[iframe].SelectText();
             }, function (iframe) {
                 top.frames[iframe].ClearText();
             });

    }
</script>
<form id="form1">
<div id="message" style="display: none; padding: 1px; padding-bottom: 0px;">
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            单据编号：
        </th>
        <td class="formValue">
            <input id="ID" type="text"  class="txt readonly" datacol="yes" err="内码" checkexpession="NotNull" value="@ViewBag.Code" readonly="readonly"/>
        </td>
        <th class="formTitle">
            类型：
        </th>
        <td class="formValue">
            <select id="MTYPE" class="txtselect">
                <option value="1">分类</option>
                <option value="2">物料</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            名称：
        </th>
        <td class="formValue">
            <input id="PK_MATCDOC" type="hidden" />
            <input id="CODE" type="hidden" />
            <input id="NAME" type="text" class="txt required" datacol="yes" err="名称" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
        </th>
        <td class="formValue">
            <span class="item">
                <input id="ISUSE" name="ISUSE" type="checkbox" checked="checked" style="vertical-align: middle;" />
                <label for="ISUSE" style="vertical-align: middle;">
                    有效</label>
            </span>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            说明：
        </th>
        <td class="formValue" colspan="3">
            <textarea id="MEMO" class="txtArea" rows="6"></textarea>
        </td>
    </tr>
</table>
