@{
    ViewBag.Title = "原料全项目批量审核皮带秤批量匹配净重";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
     var ModuleId = GetQuery('ModuleId'); //菜单主键  
    $(function () { 
        setTimeout(function(){
            GetGrid();  
        },500);  
    }) 
    //搜索
    function btn_Search() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BILLNO = $("#BILLNO").val(); 
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/ZJZXManager/ZJZXCYAllProjectAudit/GetZJZXCYAllAuditListWeightBelt")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&BILLNO=' + escape(BILLNO), page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val(); 
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/ZJZXManager/ZJZXCYAllProjectAudit/GetZJZXCYAllAuditListWeightBelt")?StartTime=" + StartTime + '&EndTime=' + EndTime,
            datatype: "json",
            height: $(window).height() - 110,
            autowidth: true,
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID', width: 180,align:'center',hidden:true }, 
                { label: 'CYID', name: 'CYID', index: 'CYID', width: 180,  align:'center',hidden:true }, 
                { label: '批号', name: 'BILLNO', index: 'BILLNO', width: 130, align: 'center'  }, 
                { label: '条码', name: 'PRINTCODE', index: 'PRINTCODE', width: 180,  align:'center',hidden:true },  
                {
                    label: '化学检测状态', name: 'CHESTATUS', index: 'CHESTATUS', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "<span style='color:red;font-size:15px'>未完成</span>";
                        if (cellvalue == '1') return "<span style='color:blue;font-size:15px'>检测中</span>"; 
                        if (cellvalue == '2') return "<span style='color:green;font-size:15px'>已完成</span>"; 
                    }
                }, 
                {
                    label: '物理检测状态', name: 'PHYSTATUS', index: 'PHYSTATUS', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "<span style='color:red;font-size:15px'>未完成</span>";
                        if (cellvalue == '1') return "<span style='color:blue;font-size:15px'>检测中</span>"; 
                        if (cellvalue == '2') return "<span style='color:green;font-size:15px'>已完成</span>";
                        if (!IsNull(cellvalue)) return ""; 
                    }
                },
                {
                    label: '审核状态', name: 'ALLAUDITSTATUS', index: 'ALLAUDITSTATUS', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "<span style='color:red;font-size:15px'>未审核</span>"; 
                        if (cellvalue == '1') return "<span style='color:green;font-size:15px'>已审核</span>";
                        if (!IsNull(cellvalue)) return "<span style='color:red;font-size:15px'>未审核</span>";
                    }
                },
                {
                    label: '发布状态', name: 'ALLAUDITRELEASE', index: 'ALLAUDITRELEASE', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "<span style='color:red;font-size:15px'>未发布</span>"; 
                        if (cellvalue == '1') return "<span style='color:green;font-size:15px'>已发布</span>";
                        if (!IsNull(cellvalue)) return "<span style='color:red;font-size:15px'>未发布</span>";
                    }
                },
                { label: '物料', name: 'MATERIALNAME', index: 'MATERIALNAME', width: 120, align: 'center'  },  
                { label: '采样日期', name: 'CYDATE', index: 'CYDATE', width: 110, align: 'center' }, 
                { label: '备注', name: 'CHEMEMO', index: 'CHEMEMO', width: 200, align: 'left' }
            ],
            multiselect: true,
            viewrecords: true,
            rowNum: 30,
            rownumbers:true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CRETIME',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false
        });
        
    }

    function AcceptClick(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID"); 
        if (IsNull(KeyValue)) { 
            var postData = jQuery.parseJSON('{\"DATA\":\"' + KeyValue + '\"}'); 
            AjaxJson("/ZJZXManager/ZJZXCYAllProjectAudit/ZJZXCYALLAuditPDCMultiSave", postData, function (data) {
                if(IsNull(data) && IsNull(data.Code)){
                    tipDialog(data.Message, 3, data.Code);
                    windowload();
                    top.frames[tabiframeId()].windowload();
                } 
            }); 
        } else{
            tipDialog('请至少选择一个批次', 4, 'warning');
        }
    }
   
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    批号：
                </th>
                <td>
                    <input id="BILLNO" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    制单日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-7)" style="width: 120px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
