@{
    ViewBag.Title = "采购磅单>>补增";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue'); //主键
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    var op = GetQuery('op'); //操作类型
    $(function () {
        BindAutocomplete("SENDSTORE", "PK_SENDSTORE", "Store", "", "", "");
        BindAutocomplete("RECEIVESTORE", "PK_RECEIVESTORE", "Store", "", "", "");
        BindAutocomplete("DRIVERS", "PK_DRIVERS", "Drivers", "", "", "");
        BindAutocomplete("CARS", "PK_CARSID", "DCars", "", "", "");

        if (!!KeyValue) {
            //信息
            InitControl();
            if (op = "edit") {
                $("#DEPARTMENTNAME").attr("datacol", "No");
                $("#DEF8").attr("datacol", "No");
                $("#SENDSTORE").attr("datacol", "No");
                $("#RECEIVESTORE").attr("datacol", "No");
                $("#MATERIAL").attr("datacol", "No");
                $("#SUTTLE").attr("checkexpession", "No");

                //                $("#GROSS").attr("readonly", true);
                //                $("#GROSS").attr("class", "txt readonly")
                //                $("#TARE").attr("readonly", true);
                //                $("#TARE").attr("class", "txt readonly")
            }
        }
        $("#GROSS").bind('keyup', function () {
            GetSuttle(this.id);
        });
        $("#TARE").bind('keyup', function () {
            GetSuttle(this.id);
        });

    })
    //计算
    function GetSuttle(id) {
        var Gross = $("#GROSS").val();
        var Tare = $("#TARE").val();
        if (Tare * 1 > Gross * 1) {
            top.TipMsg("皮重不能大于毛重！", 4000, "error");
            $("#" + id).val('');
            return false;
        }
        if (Gross != 0 && Gross != undefined && Tare != 0 && Tare != undefined) {
            var Suttle = FloatSub(Gross, Tare);
            $("#SUTTLE").val(FormatCurrency(Suttle));
        } else {
            $("#Suttle").val('0.000');
        }

        //提货量不能大于订单余量
        if (parseFloat($("#SUTTLE").val()) > parseFloat($("#YLNUM").val())) {
            top.TipMsg("净重不能大于订单余量 " + $("#YLNUM").val(), 4000, "error");
            $("#Suttle").val("0");
            return false;
        }
    }



    //得到一个对象实体
    function InitControl() {
        if (!!KeyValue) {
            AjaxJson("/WeightManager/WeightZX/SetFormControl", { KeyValue: KeyValue, ModuleId: ModuleId }, function (data) {
                SetWebControls(data);
            });
        }
    }

    function MaterialAutocomplete() {
        var txtname = "MATERIAL";
        var $txtid = $("#PK_MATERIAL");
        var $txtname = $("#MATERIAL");
        var $txtcode = $("#PK_MATERIALKIND");
        var $txtspec = $("#MATERIALKIND");
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
                $txtid.val("");
                $txtcode.val("");
                $txtspec.val("");
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtid.val(data.id);
            $txtname.val(data.name);
            $txtcode.val(data.code);
            $txtspec.val(data.spec);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/Material", { keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="id" style="display: none;">' + DataJson[i].id + '</td>';
                    html += '<td id="name" style="width: 100%;">' + DataJson[i].name + '</td>';
                    html += '<td id="code" style="display: none;">' + DataJson[i].code + '</td>';
                    html += '<td id="spec" style="display: none;">' + DataJson[i].materialspec + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtid.val(data.id);
                    $txtname.val(data.name);
                    $txtcode.val(data.code);
                    $txtspec.val(data.spec);
                });
            });
        }
    }
    function SetGrossTare() {
        var Gross = $("#GROSS").val();
        var Tare = $("#TARE").val();
        $("#GROSS").val(Tare);
        $("#TARE").val(Gross);
    }

    //保存事件
    function SubmitOrderForm() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        confirmDialog('提示', '注：您确认要保存此操作吗？', function (r) {
            if (r) {
                Loading(true, "正在提交数据...");
                window.setTimeout(function () {
                    var postData = GetWebControls("#tb_OrderFrom");
                    AjaxJson("/WeightManager/WeightZX/SubmitOrderForm?KeyValue=" + KeyValue + "&ModuleId=" + ModuleId, postData, function (data) {
                        tipDialog(data.Message, 3, data.Code);
                        var tabframeid = "tabs_iframe_" + ModuleId;
                        top.frames[tabframeid].windowload();
                        ThisCloseTab();
                    });
                }, 200);
            }
        });
    }
     
</script>
<form id="form1" style="margin: 1px">
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新</b></span></a> <a id="button_Commit_Save" title="保存单据" onclick="SubmitOrderForm()"
                class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/disk.png")) 50% 4px no-repeat;">
                    保存</b></span></a> <a id="button1" title="毛皮调转" onclick="SetGrossTare()" class="tools_btn">
                        <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/application_view_list.png")) 50% 4px no-repeat;">
                            毛皮调转</b></span></a> <a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                                <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                                    离开</b></span></a>
</div>
<table id="tb_OrderFrom" class="form">
    <tr>
        <th class="formTitle">
            计量单号：
        </th>
        <td class="formValue">
            <input id="BILLNO" maxlength="50" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            发货部门：
        </th>
        <td class="formValue">
            <input id="PK_DEPARTMENT" type="hidden" />
            <input id="DEPARTMENTNAME" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            收货部门：
        </th>
        <td class="formValue">
            <input id="DEF7" type="hidden" />
            <input id="DEF8" type="text" class="txt readonly" readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            物料：
        </th>
        <td class="formValue">
            <input id="PK_MATERIAL" type="hidden" />
            <input id="MATERIAL" maxlength="50" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            发货单位：
        </th>
        <td class="formValue">
            <input id="PK_COMPANY" type="hidden" />
            <input id="COMPANYNAME" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            收货单位：
        </th>
        <td class="formValue">
            <input id="DEF5" type="hidden" />
            <input id="DEF6" type="text" class="txt readonly" readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            规格：
        </th>
        <td class="formValue">
            <input id="PK_MATERIALKIND" type="hidden" />
            <input id="MATERIALKIND" maxlength="50" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            发货仓库：
        </th>
        <td class="formValue">
            <input name="PK_SENDSTORE" id="PK_SENDSTORE" type="hidden" />
            <input id="SENDSTORE" maxlength="50" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            收货仓库：
        </th>
        <td class="formValue">
            <input id="PK_RECEIVESTORE" type="hidden" />
            <input id="RECEIVESTORE" type="text" class="txt readonly" readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            车号：
        </th>
        <td class="formValue">
            <input id="PK_CARSID" type="hidden" />
            <input id="CARS" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            司机：
        </th>
        <td class="formValue">
            <input id="PK_DRIVERS" type="hidden" />
            <input id="DRIVERS" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            过磅员：
        </th>
        <td class="formValue">
            <input name="OUTGBUSER" id="OUTGBUSER" type="hidden" />
            <input id="INGBUSER" type="text" class="txt readonly" readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            毛重：
        </th>
        <td class="formValue">
            <input id="GROSS" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            皮重：
        </th>
        <td class="formValue">
            <input id="TARE" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            净重：
        </th>
        <td class="formValue">
            <input id="SUTTLE" type="text" class="txt readonly" readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            轻车时间：
        </th>
        <td class="formValue">
            <input id="LIGHTDATE" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            重车时间：
        </th>
        <td class="formValue">
            <input id="WEIGHTDATE" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            创建时间：
        </th>
        <td class="formValue">
            <input id="CREATEDATE" type="text" class="txt readonly" readonly="readonly" />
        </td>
    </tr>
</table>
</form>
