@{
    ViewBag.Title = "仓库物料对应》详细";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue'); //主键
    $(function () {
        InitControl();
        Test();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!KeyValue) {
            AjaxJson("/CommonModule/PdaStorMa/SetFormControl", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    function Test() {
        var ISUSE = $("#ISUSE").val();
        var ISDEL = $("#ISDEL").val();
        if (ISUSE == '1') {
            $("#ISUSE").val("启用");
            $("#ISDEL").val("正常");
        }
        else {
            $("#ISUSE").val("未启用");
            $("#ISDEL").val("已删除");
        }
    } 

</script>
<form id="form1" style="margin: 1px">
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新</b></span></a> <a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                    离开</b></span></a>
</div>
<div class="bd" style="border-bottom: none; margin: 2px;">
    <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
        <div class="tab_list_top" style="position: absolute">
            <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">
                详细信息</div>
        </div>
    </div>
</div>
<div class="ScrollBar" style="margin: 1px; overflow: hidden;">
    <!--录入信息-->
    <div id="basic" class="tabPanel">
        <table class="form">
            <tr>
                <th class="formTitle">
                    编号：
                </th>
                <td class="formValue">
                    <input id="ID" type="text" class="txt" readonly="readonly" />
                </td>
                <th class="formTitle">
                    仓库：
                </th>
                <td class="formValue">
                    <input id="STORDOCNAME" type="text" class="txt" readonly="readonly" />
                </td>
                <th class="formTitle">
                    物料：
                </th>
                <td class="formValue">
                    <input id="MATERIALNAME" type="text" class="txt" readonly="readonly" />
                </td>
                <th class="formTitle">
                    物料属性：
                </th>
                <td class="formValue">
                    <input id="MATERIALSPEC" type="text" class="txt" readonly="readonly" />
                </td>
            </tr>
            <tr>
               <th class="formTitle">
                    创建用户：
                </th>
                <td class="formValue">
                    <input id="CREATEUSER" type="text" class="txt" readonly="readonly" />
                </td>
                <th class="formTitle">
                    创建时间：
                </th>
                <td class="formValue">
                    <input id="CREATEDATE" type="text" class="txt" readonly="readonly" />
                </td>
                <th class="formTitle">
                    最后修改用户：
                </th>
                <td class="formValue">
                    <input id="UPDATEUSER" type="text" class="txt" readonly="readonly" />
                </td>
                <th class="formTitle">
                    最后修改时间：
                </th>
                <td class="formValue">
                    <input id="UPDATEDATE" type="text" class="txt" readonly="readonly" />
                </td>
            </tr>
             <tr>
                <th class="formTitle">
                    单据状态：
                </th>
                <td class="formValue">
                    <input id="ISUSE" type="text" class="txt" readonly="readonly"/>
                </td>
                <th class="formTitle">
                    是否删除：
                </th>
                <td class="formValue">
                    <input id="ISDEL" type="text" class="txt" readonly="readonly"/>
                </td>
                <th class="formTitle">
                    备注：
                </th>
                <td class="formValue" colspan="3">
                    <input id="MEMO" type="text" class="txt" readonly="readonly" />
                </td>
            </tr>
        </table>
    </div>
</div>
</form>
