<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DBContext" connectionString="metadata=res://*/Models.Authorize.csdl|res://*/Models.Authorize.ssdl|res://*/Models.Authorize.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=121.40.148.178,7749;Initial Catalog=EOSFramework_Base;Persist Security Info=True;User ID=sa;Password=EOS!@#$%qaz;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <!--SP接口-->
    <add name="ConnectionString" providerName="Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.100.148)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME=VDEDU)));user id=c##cusjyg;password=eosine123;Min Pool Size=40;Connection Lifetime=120;"/>
    <add name="ConnectionStringCS" providerName="Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.100.146)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME=orcl)));user id=c##cusjyg;password=eosine123;Min Pool Size=40;Connection Lifetime=120;"/>
    <!--MES接口-->
    <!--<add name="EOSFramework_Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.100.146)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME=orcl)));user id=c##cusjyg;password=eosine123;Min Pool Size=4;Connection Lifetime=120;Max Pool Size=512" providerName="Oracle.ManagedDataAccess.Client" />-->
    <add name="EOSFramework_Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.100.148)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME=VDEDU)));user id=c##cusjyg;password=eosine123;Min Pool Size=4;Connection Lifetime=120;Max Pool Size=512" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <appSettings configSource="XmlConfig\system.config"/>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--设置网站全局 ASP.NET 页的字符编码格式-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480" executionTimeout="50"/>
    <compilation debug="true" targetFramework="4.5.1"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SI_ZFMM116_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM116_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM094Binding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM094Binding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM095Binding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM095Binding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM092_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM092_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM096_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM096_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM098_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM098_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_Z_PO_POST2_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_PO_POST2_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_Z_PO_POST_OUTBinding" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_PO_POST_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM110_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM110_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_Z_GM_POST_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_GM_POST_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_Z_ME_OAPURCHASEBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_ME_OAPURCHASEBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="LoadometerWeighingTransferWSBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM116_OUTBinding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM116_OUTBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM110_OUTBinding2" />
        <binding name="SI_ZFMM110_OUTBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM108_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM108_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM098_OUTBinding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM098_OUTBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM097_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM097_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM096_OUTBinding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM096_OUTBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM095Binding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM095Binding3">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM094Binding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM094Binding3">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM092_OUTBinding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM092_OUTBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM066_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM066_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_Z_PO_POST2_OUTBinding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_PO_POST2_OUTBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="SI_Z_PO_POST_OUTBinding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_PO_POST_OUTBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="SI_Z_GM_POST_OUTBinding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_GM_POST_OUTBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="LoadometerWeighingTransferWSBinding1" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_ME_OAPURCHASEBinding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_ME_OAPURCHASEBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM116_OUTBinding4" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM116_OUTBinding5">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM117_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM117_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_Z_GM_POST4_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_GM_POST4_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_Z_GM_POST4_OUTBinding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_GM_POST4_OUTBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="SI_Z_PO_POST1_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_Z_PO_POST1_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZFMM115_OUTBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SI_ZFMM115_OUTBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="RawMaterialFeedingServiceWSBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="RawMaterialFeedingServiceWSBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="RawMaterialFeedingServiceWSBinding2" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="RawMaterialFeedingServiceWSBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="WorkflowServiceHttpBinding" />
        <binding name="WorkflowServiceHttpBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM095&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM095%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM095Binding"
        contract="SAPSERVICES_95.SI_ZFMM095" name="HTTPS_PORT95" />
      <endpoint address="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM095&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM095%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM095Binding1"
        contract="SAPSERVICES_95.SI_ZFMM095" name="HTTPS_PORT95_1" />
      <endpoint address="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM092_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM092%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM092_OUTBinding"
        contract="SAPSERVICES_92.SI_ZFMM092_OUT" name="HTTPS_PORT92" />
      <endpoint address="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM092_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM092%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM092_OUTBinding1"
        contract="SAPSERVICES_92.SI_ZFMM092_OUT" name="HTTPS_PORT92_1" />
      <endpoint address="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM096_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM096%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM096_OUTBinding"
        contract="SAPSERVICES_96.SI_ZFMM096_OUT" name="HTTPS_PORT96" />
      <endpoint address="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM096_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM096%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM096_OUTBinding1"
        contract="SAPSERVICES_96.SI_ZFMM096_OUT" name="HTTPS_PORT96_1" />
      <endpoint address="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_PO_POST2_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZ_PO_POST2%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_PO_POST2_OUTBinding"
        contract="SAPSERVICES_ZP2.SI_Z_PO_POST2_OUT" name="HTTPS_PORTPOST2" />
      <endpoint address="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_PO_POST2_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZ_PO_POST2%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_PO_POST2_OUTBinding1"
        contract="SAPSERVICES_ZP2.SI_Z_PO_POST2_OUT" name="HTTPS_PORTPOST2_1" />
      <endpoint address="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM094&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM094%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM094Binding"
        contract="SAPSERVICES_94.SI_ZFMM094" name="HTTPS_PORT94" />
      <endpoint address="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM094&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM094%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM094Binding1"
        contract="SAPSERVICES_94.SI_ZFMM094" name="HTTPS_PORT94_1" />
      <endpoint address="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM110_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM110%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM110_OUTBinding"
        contract="SAPSERVICES_110.SI_ZFMM110_OUT" name="HTTPS_PORT110" />
      <endpoint address="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM110_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM110%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM110_OUTBinding1"
        contract="SAPSERVICES_110.SI_ZFMM110_OUT" name="HTTPS_PORT110_1" />
      <endpoint address="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM116_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM116%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM116_OUTBinding"
        contract="SAPSERVICES_116.SI_ZFMM116_OUT" name="HTTPS_PORT116" />
      <endpoint address="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM116_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM116%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM116_OUTBinding1"
        contract="SAPSERVICES_116.SI_ZFMM116_OUT" name="HTTPS_PORT116_1" />
      <endpoint address="http://192.168.122.44:50000/webservicewar/LoadometerWeighingTransferWSService"
        binding="basicHttpBinding" bindingConfiguration="LoadometerWeighingTransferWSBinding"
        contract="MESSERVICES_SLDB.LoadometerWeighingTransferWS" name="LoadometerWeighingTransferWSPort" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM110_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM110%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM110_OUTBinding2"
        contract="SAPSERVICES_110ZS.SI_ZFMM110_OUT" name="HTTPS_PORT110ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM110_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM110%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM110_OUTBinding3"
        contract="SAPSERVICES_110ZS.SI_ZFMM110_OUT" name="HTTPS_PORT110ZS_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM108_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM108%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM108_OUTBinding"
        contract="SAPSERVICES_108ZS.SI_ZFMM108_OUT" name="HTTPS_PORT108ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM108_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM108%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM108_OUTBinding1"
        contract="SAPSERVICES_108ZS.SI_ZFMM108_OUT" name="HTTPS_PORT108ZS_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM097_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM097%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM097_OUTBinding"
        contract="SAPSERVICES_97ZS.SI_ZFMM097_OUT" name="HTTPS_PORT97ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM097_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM097%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM097_OUTBinding1"
        contract="SAPSERVICES_97ZS.SI_ZFMM097_OUT" name="HTTPS_PORT97ZS_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM096_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM096%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM096_OUTBinding2"
        contract="SAPSERVICES_96ZS.SI_ZFMM096_OUT" name="HTTPS_PORT96ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM096_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM096%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM096_OUTBinding3"
        contract="SAPSERVICES_96ZS.SI_ZFMM096_OUT" name="HTTPS_PORT96ZS_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM095&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM095%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM095Binding2"
        contract="SAPSERVICES_95ZS.SI_ZFMM095" name="HTTPS_PORT95ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM095&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM095%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM095Binding3"
        contract="SAPSERVICES_95ZS.SI_ZFMM095" name="HTTPS_PORT95ZS_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM094&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM094%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM094Binding2"
        contract="SAPSERVICES_94ZS.SI_ZFMM094" name="HTTPS_PORT94ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM094&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM094%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM094Binding3"
        contract="SAPSERVICES_94ZS.SI_ZFMM094" name="HTTPS_PORT94ZS_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM092_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM092%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM092_OUTBinding2"
        contract="SAPSERVICES_92ZS.SI_ZFMM092_OUT" name="HTTPS_PORT92ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM092_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM092%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM092_OUTBinding3"
        contract="SAPSERVICES_92ZS.SI_ZFMM092_OUT" name="HTTPS_PORT92ZS_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM066_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM066%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM066_OUTBinding"
        contract="SAPSERVICES_66ZS.SI_ZFMM066_OUT" name="HTTPS_PORT66ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM066_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM066%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM066_OUTBinding1"
        contract="SAPSERVICES_66ZS.SI_ZFMM066_OUT" name="HTTPS_PORT66ZS_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_PO_POST2_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZ_PO_POST2%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_PO_POST2_OUTBinding2"
        contract="SAPSERVICES_ZPZS2.SI_Z_PO_POST2_OUT" name="HTTPS_PORTPOST2ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_PO_POST2_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZ_PO_POST2%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_PO_POST2_OUTBinding3"
        contract="SAPSERVICES_ZPZS2.SI_Z_PO_POST2_OUT" name="HTTPS_PORTPOST2ZS_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_PO_POST_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZ_PO_POST%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_PO_POST_OUTBinding2"
        contract="SAPSERVICES_ZPZS1.SI_Z_PO_POST_OUT" name="HTTPS_PORTPOSTZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_PO_POST_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZ_PO_POST%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_PO_POST_OUTBinding3"
        contract="SAPSERVICES_ZPZS1.SI_Z_PO_POST_OUT" name="HTTPS_PORTPOSTZS_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_GM_POST_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZ_GM_POST%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_GM_POST_OUTBinding2"
        contract="SAPSERVICES_HWYKZS.SI_Z_GM_POST_OUT" name="HTTPS_PORTGMPOSTZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_GM_POST_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZ_GM_POST%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_GM_POST_OUTBinding3"
        contract="SAPSERVICES_HWYKZS.SI_Z_GM_POST_OUT" name="HTTPS_PORTGMPOSTZS_1" />
      <endpoint address="http://podev01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM116_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM116%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM116_OUTBinding4"
        contract="SAPSERVICES_116KF.SI_ZFMM116_OUT" name="HTTPS_PORT116KF" />
      <endpoint address="https://podev01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM116_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM116%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM116_OUTBinding5"
        contract="SAPSERVICES_116KF.SI_ZFMM116_OUT" name="HTTPS_PORT116KF_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM116_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM116%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM116_OUTBinding2"
        contract="SAPSERVICES_116ZS.SI_ZFMM116_OUT" name="HTTPS_PORT116ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM116_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM116%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM116_OUTBinding3"
        contract="SAPSERVICES_116ZS.SI_ZFMM116_OUT" name="HTTPS_PORT116ZS_1" />
      <endpoint address="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_PO_POST_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZ_PO_POST%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_PO_POST_OUTBinding"
        contract="SAPSERVICES_ZP1.SI_Z_PO_POST_OUT" name="HTTPS_PORTPOST" />
      <endpoint address="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_PO_POST_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZ_PO_POST%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_PO_POST_OUTBinding1"
        contract="SAPSERVICES_ZP1.SI_Z_PO_POST_OUT" name="HTTPS_PORTPOST_1" />
      <endpoint address="http://sjygme.sunshinepaper.com.cn:50000/webservicewar/LoadometerWeighingTransferWSService"
        binding="basicHttpBinding" bindingConfiguration="LoadometerWeighingTransferWSBinding1"
        contract="MESSERVICES_SLDBZS.LoadometerWeighingTransferWS" name="LoadometerWeighingTransferWSPortZS" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM117_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM117%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM117_OUTBinding"
        contract="SAPSERVICES_117ZS.SI_ZFMM117_OUT" name="HTTPS_PORT117ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM117_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM117%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM117_OUTBinding1"
        contract="SAPSERVICES_117ZS.SI_ZFMM117_OUT" name="HTTPS_PORT117ZS_1" />
      <endpoint address="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_GM_POST_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZ_GM_POST%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_GM_POST_OUTBinding"
        contract="SAPSERVICES_HWYK.SI_Z_GM_POST_OUT" name="HTTPS_PORTGMPOST" />
      <endpoint address="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_GM_POST_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZ_GM_POST%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_GM_POST_OUTBinding1"
        contract="SAPSERVICES_HWYK.SI_Z_GM_POST_OUT" name="HTTPS_PORTGMPOST_1" />
      <endpoint address="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_GM_POST4_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZ_GM_POST4%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_GM_POST4_OUTBinding"
        contract="SAPSERVICES_HWYKCS.SI_Z_GM_POST4_OUT" name="HTTPS_PORTGMPOST4" />
      <endpoint address="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_GM_POST4_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZ_GM_POST4%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_GM_POST4_OUTBinding1"
        contract="SAPSERVICES_HWYKCS.SI_Z_GM_POST4_OUT" name="HTTPS_PORTGMPOST4_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_GM_POST4_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZ_GM_POST4%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_GM_POST4_OUTBinding2"
        contract="SAPSERVICES_HWYKSC.SI_Z_GM_POST4_OUT" name="HTTPS_PORTGMPOST4ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_GM_POST4_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZ_GM_POST4%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_GM_POST4_OUTBinding3"
        contract="SAPSERVICES_HWYKSC.SI_Z_GM_POST4_OUT" name="HTTPS_PORTGMPOST4ZS_1" />
      <endpoint address="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM098_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM098%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM098_OUTBinding"
        contract="SAPSERVICES_98.SI_ZFMM098_OUT" name="HTTPS_PORT98" />
      <endpoint address="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM098_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM098%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM098_OUTBinding1"
        contract="SAPSERVICES_98.SI_ZFMM098_OUT" name="HTTPS_PORT98_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM098_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM098%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM098_OUTBinding2"
        contract="SAPSERVICES_98ZS.SI_ZFMM098_OUT" name="HTTPS_PORT98ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM098_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM098%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM098_OUTBinding3"
        contract="SAPSERVICES_98ZS.SI_ZFMM098_OUT" name="HTTPS_PORT98ZS_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_PO_POST1_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZ_PO_POST1%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_PO_POST1_OUTBinding"
        contract="SAPSERVICES_ZPZS3.SI_Z_PO_POST1_OUT" name="HTTPS_PORTPOSTZS3" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_PO_POST1_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZ_PO_POST1%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_PO_POST1_OUTBinding1"
        contract="SAPSERVICES_ZPZS3.SI_Z_PO_POST1_OUT" name="HTTPS_PORTPOSTZS3_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM115_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM115%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM115_OUTBinding"
        contract="SAPSERVICES_115ZS.SI_ZFMM115_OUT" name="HTTPS_PORT115ZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM115_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Foa2erp%2FZFMM115%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_ZFMM115_OUTBinding1"
        contract="SAPSERVICES_115ZS.SI_ZFMM115_OUT" name="HTTPS_PORT115ZS_1" />
      <endpoint address="http://192.168.122.37:50000/webservicewar/RawMaterialFeedingServiceWSService"
        binding="basicHttpBinding" bindingConfiguration="RawMaterialFeedingServiceWSBinding"
        contract="MESSERVICES_XBSLCS.RawMaterialFeedingServiceWS" name="RawMaterialFeedingServiceWSPortCS" />
      <endpoint address="http://192.168.122.37:50000/webservicewar/RawMaterialFeedingServiceWSService"
        binding="basicHttpBinding" bindingConfiguration="RawMaterialFeedingServiceWSBinding1"
        contract="MESSERVICES_XBSLCS.RawMaterialFeedingServiceWS" name="RawMaterialFeedingServiceWSPortCS_1" />
      <endpoint address="https://sjygme.sunshinepaper.com.cn:44300/webservicewar/RawMaterialFeedingServiceWSService"
        binding="basicHttpBinding" bindingConfiguration="RawMaterialFeedingServiceWSBinding2"
        contract="MESSERVICES_XBSLZS.RawMaterialFeedingServiceWS" name="RawMaterialFeedingServiceWSPortZS" />
      <endpoint address="http://sjygme.sunshinepaper.com.cn:44300/webservicewar/RawMaterialFeedingServiceWSService"
        binding="basicHttpBinding" bindingConfiguration="RawMaterialFeedingServiceWSBinding3"
        contract="MESSERVICES_XBSLZS.RawMaterialFeedingServiceWS" name="RawMaterialFeedingServiceWSPortZS_1" />
      <endpoint address="http://podev01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_ME_OAPURCHASE&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Fmes2erp%2FZ_ME_OAPURCHASE%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_ME_OAPURCHASEBinding"
        contract="SAPSERVICES_PURCHASE.SI_Z_ME_OAPURCHASE" name="HTTPS_PORTPURCHASE" />
      <endpoint address="https://podev01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_ME_OAPURCHASE&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Fmes2erp%2FZ_ME_OAPURCHASE%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_ME_OAPURCHASEBinding1"
        contract="SAPSERVICES_PURCHASE.SI_Z_ME_OAPURCHASE" name="HTTPS_PORTPURCHASE_1" />
      <endpoint address="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MES_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_ME_OAPURCHASE&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Fmes2erp%2FZ_ME_OAPURCHASE%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_ME_OAPURCHASEBinding2"
        contract="SAPSERVICES_PURCHASEZS.SI_Z_ME_OAPURCHASE" name="HTTPS_PORTPURCHASEZS" />
      <endpoint address="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MES_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_ME_OAPURCHASE&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Fmes2erp%2FZ_ME_OAPURCHASE%2Fif"
        binding="basicHttpBinding" bindingConfiguration="SI_Z_ME_OAPURCHASEBinding3"
        contract="SAPSERVICES_PURCHASEZS.SI_Z_ME_OAPURCHASE" name="HTTPS_PORTPURCHASEZS_1" />
      <endpoint address="http://oa.sunshinepaper.com.cn:8088/services/WorkflowService"
        binding="basicHttpBinding" bindingConfiguration="WorkflowServiceHttpBinding"
        contract="OAWORKFLOWSERVICES.WorkflowServicePortType" name="WorkflowServiceHttpPort" />
      <endpoint address="http://192.168.109.211:8088/services/WorkflowService"
        binding="basicHttpBinding" bindingConfiguration="WorkflowServiceHttpBinding1"
        contract="OAWORKFLOWSERVICESCS.WorkflowServicePortType" name="WorkflowServiceHttpPort1" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.7.4.0" newVersion="6.7.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.121.2.0" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>