@{
    ViewBag.Title = "质检部门设置";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键 
    //var CompanyId='0001E510000000002HZD';//设置一个默认值
    $(function () {   
        GetTree();
        //GetGrid("");
        GetTreeDept();
    }) 
        
    var CompanyId, CompanyName = "";
    //加载左边树
    function GetTree() {
        var itemtree = {
            onnodeclick: function (item) {
                CompanyId = item.id;            //ID
                CompanyName = item.text;        //名称
                $("#CenterTitle").html(" - " + CompanyName);
                GetTreeDept();
            },
            url: "@Url.Content("~/CommonModule/Company/TreeJson")"
        };
        $("#ItemsTree").treeview(itemtree);
    }
     
     //加载部门
    function GetTreeDept() {
        $("#AccessTree").empty();
        var itemtree = {
            showcheck: true, 
            url: "@Url.Content("~/ZJPermission/DeptSet/LoadDeptTreeList")?CompanyId=" + CompanyId  
        };
        $("#AccessTree").treeview(itemtree);
    }
     
    //保存事件
    function AcceptClick() {
        Loading(true, "正在提交数据...");
        if(!IsNull(CompanyId)){
            tipDialog("请先选择公司", 3, 0);
            return false;
        }
        window.setTimeout(function () {
            //获取系统模块 信息:
            var MId = ""; $('#AccessTree .bbit-tree-node-cb').each(function () {
                var _src = $(this).attr('src');
                _src = _src.substr(_src.lastIndexOf("/") + 1);
                if (_src == 'checkbox_1.gif') {
                    var _MId = $(this).attr('id').substring(11).replace(/_/g, "-");
                    _MId = _MId.substring(0, _MId.length - 3);
                    MId += _MId + ",";
                }
            });
             
            var postData = {
                MId: MId,
                CompanyId: CompanyId 
            }
            AjaxJson("/ZJPermission/DeptSet/DeptZJSubmit", postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }

    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
</script>
@*<div class="tools_bar leftline rightline" style="margin-bottom: 0px; margin: 1px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
<div class="rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable">
    </table>
</div>*@
<div id="layout" class="layout">
    <!--左边-->
    <div class="layoutPanel layout-west">
        <div class="btnbartitle">
            <div>
                公司目录
            </div>
        </div>
        <div class="ScrollBar" id="ItemsTree">
        </div>
    </div>
    <!--中间-->
    <div class="layoutPanel layout-center">
        <div class="btnbartitle">
            <div>
                部门列表<span id="CenterTitle"></span>
            </div>
        </div>
        <div class="ScrollBar" id="AccessTree">
        </div>
    </div>
</div>
