@{
    ViewBag.Title = "质检部门维护";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');
    var ParentId = GetQuery('ParentId');
    var CompanyId = GetQuery('CompanyId');
    $(function () {
        $("#COMPANYID").val(CompanyId);
        BindCombobox();
        InitControl();
        if (!IsNull(KeyValue)) {
            //KeyValue为空
            $("#PARENTID").val(ParentId);
        }

        GetParent(CompanyId, $("#PARENTID").val());
    })
    //初始化绑定下拉框
    function BindCombobox() {
        //部门性质
        BindDropItem("#NATURE", "DepartmentNature", "==请选择=");
    }

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/ZJPermission/DeptSet/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    function GetParent(CompanyId, ParentId) {
        AjaxJson("/ZJPermission/DeptSet/GetParent?CompanyId=" + escape(CompanyId) + "&ParentId=" + escape(ParentId), "", function (data) {
            try {
                $("#PARENTNAME").val(data["FULLNAME"]);
                $("#PARENTCODE").val(data["CODE"]);
            } catch (e) {
                alert(e)
            }
        });
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        if ($("#CODE").val().length <= $("#PARENTCODE").val().length) {
            tipDialog("部门编码不正确", 3, 0);
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/ZJPermission/DeptSet/SubmitForm?KeyValue=" + GetQuery('KeyValue'), postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
<div id="message" style="display: none">
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            父部门名称：
        </th>
        <td class="formValue">
            <input id="PARENTNAME" type="text" readonly="readonly" class="txt readonly" err="父部门名称" />
        </td>
        <th class="formTitle">
            父部门编码：
        </th>
        <td class="formValue">
            <input id="PARENTCODE" type="text" readonly="readonly" class="txt readonly" err="父部门编码" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            部门编码：
        </th>
        <td class="formValue">
            <input id="PARENTID" type="hidden" />
            <input id="COMPANYID" type="hidden" />
            <input id="CODE" type="text" class="txt required" datacol="yes" err="部门编码" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            部门名称：
        </th>
        <td class="formValue">
            <input id="FULLNAME" type="text" class="txt required" datacol="yes" err="部门名称" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            部门简称：
        </th>
        <td class="formValue">
            <input id="SHORTNAME" type="text" class="txt" />
        </td>
        <th class="formTitle">
            部门性质：
        </th>
        <td class="formValue">
            <select id="NATURE" class="txtselect" datacol="yes" err="部门性质" checkexpession="NotNull">
            </select>
        </td>
    </tr>
    @*<tr> 
        <th class="formTitle">
            负责人：
        </th>
        <td class="formValue">
            <input id="Manager" type="hidden" class="txt" />
            <input id="ManagerName" type="text" class="txt icontree" />
        </td>
        <th class="formTitle">
            联系电话：
        </th>
        <td class="formValue">
            <input id="Phone" type="text" class="txt" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            电子邮件：
        </th>
        <td class="formValue">
            <input id="Email" type="text" class="txt" />
        </td>
        <th class="formTitle">
            传真：
        </th>
        <td class="formValue">
            <input id="Fax" type="text" class="txt" />
        </td>
    </tr>*@
    <tr>
        <th class="formTitle">
            显示顺序：
        </th>
        <td class="formValue">
            <input id="SORTCODE" type="text" onkeyup="IsNumber(this.id)" class="txt required"
                datacol="yes" err="显示顺序" checkexpession="Num" />
        </td>
        @*<th class="formTitle">
            选项：
        </th>
        <td class="formValue">
            <span class="item">
                <input type="checkbox" name="checkbox" checked="checked" id="Enabled" />
                <label for="Enabled">
                    有效</label>
            </span>
        </td>*@
    </tr>
    <tr>
        <th class="formTitle">
            说明：
        </th>
        <td class="formValue" colspan="3">
            <textarea id="REMARK" name="Description" maxlength="200" class="txtArea" rows="6"></textarea>
        </td>
    </tr>
</table>
</form>
