@{
    ViewBag.Title = "卡务管理》IC卡注册";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue'); //主键
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        BindAutocomplete("NAME", "ID", "Cars", "", "", "");
        InitControl();
    })

    //得到一个对象实体
    function InitControl() {
        if (!!KeyValue) {
            AjaxJson("/ExampleModule/BINDRFID/SetFormControl", { KeyValue: KeyValue, ModuleId: ModuleId }, function (data) {
                SetWebControls(data);
            });
        }
    }

    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/ExampleModule/BINDRFID/SubmitOrderForm?KeyValue=" + KeyValue + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
          
</script>
<form id="form1" style="margin: 1px">
<div id="message" style="display: none">
</div>
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新</b></span></a>
</div>
<table   class="form">
    <tr>
        <th class="formTitle">
            RF卡号：
        </th>
        <td class="formValue">
            <input id="EPCCODE" type="text" class="txt readonly" readonly="readonly" datacol="yes" err="RF卡号" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            <span id="span_drivers">车号：</span>
        </th>
        <td class="formValue">
            <input id="ID" type="hidden" datacol="yes" err="车号" checkexpession="NotNull" />
            <input id="NAME" type="text" class="txt iconsearch" datacol="yes" err="车号" checkexpession="NotNull" />
        </td>
    </tr>
</table>
</form>
