@{
    ViewBag.Title = "罐号管理 ";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid();
    })
    //搜索
    function btn_Search() {
            var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var keyword = $("#keyword").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/BaseSet/Trains/GetTrainsList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&keyword=' +escape(keyword), page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/BaseSet/Trains/GetTrainsList")?StartTime=" + StartTime + '&EndTime=' + EndTime  ,
            datatype: "json",
            height: $(window).height() - 150,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'ID', width: 80, align: 'left', hidden: true }, 
//                 { label: '车次号', name: 'TRAINSNUMBER', index: 'TRAINNUMBER', width: 100, align: 'center' },
                { label: '内码', name: 'CODE', index: 'CODE', width: 100, align: 'center' },
                { label: '罐号名称', name: 'FULLNAME', index: 'NAME', width: 100, align: 'center' },
                { label: '罐号简称', name: 'SHORTNAME', index: 'SHORTNAME', width: 100, align: 'left' },
                { label: '创建人', name: 'CREATEUSER', index: 'CREATEUSER', width: 90, align: 'center' },
                   {
                    label: '创建日期', name: 'CREATEDATE', index: 'CREATEDATE', width: 110, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                { label: '备注', name: 'MEMO', index: 'MEMO', width: 200, align: 'left' }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CREATEDATE',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false
 
        });
        //////////
    }
     //新增
    function btn_add() {
        var url = "/BaseSet/Trains/TrainsForm";
        openDialog(url, "Form11111", "新增罐号", 650, 380, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            var url = "/BaseSet/Trains/TrainsForm?KeyValue=" + KeyValue;
            openDialog(url, "Form11111", "编辑罐号", 650, 380, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }

    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue ;
            delConfig('/BaseSet/Trains/Delete', delparm, KeyValue.split(",").length);
        }
    }

    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入  
    }
</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
      
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                 <th>
                    关键字：
                </th>
                <td>
                    <input id="keyword" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    制单日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate"   style="width: 120px" onfocus="WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate"  style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
