@{
    ViewBag.Title = "选择销售磅单";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    $(function () {
       BindAutocomplete("MATERIAL", "PK_MATERIAL", "Material", "200", "150", "");
       BindAutocomplete("RECEIVEORG", "PK_RECEIVEORG", "Supply", "200", "150", "");
       BindAutocomplete("CARS", "PK_CARS", "Cars", "200", "150", "");
    
        $("#keywords").focus();
             setTimeout(function () {
                GetGrid();
            }, 100);
        //绑定键盘按下事件  
        $(document).keypress(function (e) {
            // 回车键事件  
            if (e.which == 13) {
                $("#keywords").focus();
                $("#keywords").select();
                $("#btnSearch").click();
            }
        });
    });
    //搜索
    function btn_Search() {
        //开始时间
        var StartTime = $("#StartTime").val();
        //结束时间
        var EndTime = $("#EndTime").val();
        //单号
        var BILLNO = $("#BILLNO").val();
        
        var Customer = $("#PK_RECEIVEORG").val();
        //车号
        var Cars = $("#PK_CARS").val();
        //物料
        var Material = $("#PK_MATERIAL").val();
   
        //用户
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/ExampleModule/QTSENDMATERIA/GetWbOrderList")?finish=0&StartTime=" + StartTime + '&EndTime=' + EndTime   + '&Customer=' +   Customer+ '&Material=' +   Material +'&Cars='+  Cars+'&BILLNO='+ BILLNO 
        }).trigger('reloadGrid');
    }
    //显示 
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/ExampleModule/QTSENDMATERIA/GetWbOrderList")?finish=0&StartTime=" + StartTime + '&EndTime=' + EndTime,
            datatype: "json",
            height:270,
            width:890,
            colModel: [
                { label: '过磅单号', name: 'BILLNO', width: 130, align: 'left' },
                { label: '车号', name: 'CARS', index: 'CARS', width: 80, align: 'center' },
                { label: '司机', name: 'DRIVERS', index: 'DRIVERS', width: 80, align: 'center' }, 
                
                { label: '物料', name: 'MATERIAL', index: 'MATERIAL', width: 130, align: 'center' },
                { label: '规格', name: 'MATERIALKIND', index: 'MATERIALKIND', width: 80, align: 'center' }, 
                { label: 'PK_RECEIVEORG', name: 'PK_RECEIVEORG', hidden: true},
                { label: '客户', name: 'RECEIVEORG', index: 'SENDORG', width: 150, align: 'left' },
                { label: '原发量', name: 'YFSUTTLE', hidden: true},
                { label: '毛重', name: 'GROSS', index: 'GROSS', width: 60, align: 'center' },
                { label: '皮重', name: 'TARE', index: 'TARE', width: 60, align: 'center' },
                { label: '净重', name: 'SUTTLE', index: 'SUTTLE', width: 60, align: 'center' },
                { label: 'IC卡号', name: 'ICCARD', index: 'ICCARD', width: 120, align: 'center' },   
                {label: '重车时间', name: 'WEIGHTDATE', index: 'WEIGHTDATE', width: 120, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                {label: '轻车时间', name: 'LIGHTDATE', index: 'LIGHTDATE', width: 120, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                } 
            ],
            pager: "#gridPager",
            sortname: 'BillNo',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            //双击事件
            ondblClickRow: function (RowIndx) {
                var rowData = $(this).jqGrid('getRowData', RowIndx);
                var $parentobj = top.frames[tabiframeId()];
                $parentobj.$("#BILLNONAME").val(rowData.BILLNO);//选择框磅
                $parentobj.$("#PDAYF").val(rowData.YFSUTTLE);//手持机原发
                 $parentobj.$("#ID").val(rowData.BILLNO);//磅单号
                $parentobj.$("#BILLNO").val(rowData.BILLNO);//磅单号
                $parentobj.$("#ICCARD").val(rowData.ICCARD);//卡号
              
                $parentobj.$("#CARS").val(rowData.CARS);//车号
                $parentobj.$("#DRIVERS").val(rowData.DRIVERS);//司机
                $parentobj.$("#PK_RECEIVEORG").val(rowData.PK_RECEIVEORG);//客户
                $parentobj.$("#RECEIVEORG").val(rowData.RECEIVEORG);//客户
               
                $parentobj.$("#PK_MATERIAL").val(rowData.PK_MATERIAL);
                     $parentobj.$("#MATERIALKIND").val(rowData.MATERIALKIND); 
                               $parentobj.$("#MATERIAL").val(rowData.MATERIAL);
                $parentobj.$("#GROSS").val(rowData.GROSS);//毛重
                $parentobj.$("#TARE").val(rowData.TARE);//皮重
                $parentobj.$("#SUTTLE").val(rowData.SUTTLE);//净重
                $parentobj.$("#WEIGHTDATE").val(rowData.WEIGHTDATE);//毛重时间
                $parentobj.$("#LIGHTDATE").val(rowData.LIGHTDATE);//皮重时间
           
                 closeDialog();
            }
        });
        //表格自适应（高度、宽度）
        $(window).resize(function () {
            $("#gridTable").jqGrid('setGridWidth', $(window).width()).jqGrid('setGridHeight', $(window).height() - 77);
        });
    }
</script>
<div class="border" style="margin: 1px; border-bottom: none; margin-bottom: 0px;">
    <div class="QueryArea" style="width: 1150;">
        <table border="0" class="form-find" style="height: 45px; width: 1150;">
            <tr>
                <th>
                    磅单号:
                </th>
                <td>
                    <input id="BILLNO" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    客 户：
                </th>
                <td>
                    <input id="PK_RECEIVEORG" type="hidden" />
                    <input id="RECEIVEORG" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    物料：
                </th>
                <td>
                    <input id="PK_MATERIAL" type="hidden" />
                    <input id="MATERIAL" type="text" class="txt" style="width: 120px" />
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <th>
                    车号：
                </th>
                <td>
                    <input id="PK_CARS" type="hidden" />
                    <input id="CARS" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    过磅日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-1)" style="width: 120px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <th>
                    -
                </th>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div class="line">
    </div>
    <table id="gridTable">
    </table>
    <div id="gridPager">
    </div>
    <style>
        .ui-widget-content
        {
            border-left: none;
        }
        
        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column
        {
            background: none;
        }
    </style>
</div>
