@{
    ViewBag.Title = "POORDERDetail";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    var PK_ORDER = GetQuery('PK_ORDER'); //主键
    var PK_ORDER_B = GetQuery('PK_ORDER_B');
    $(function () {
        if (!!PK_ORDER) {
            //主表信息
            InitControl();
            GetNCPOOrderB(PK_ORDER, PK_ORDER_B);
            $("#FANAME").bind("click", function () {
                SelectZJFA();
            })
        }
    })
    function ClearZJFA() {
        $("#FANO").val("");
        $("#FANAME").val("");
    }
    function SelectZJFA() {
        var url = "/SelectValue/Select/SelectZJFAForMaterial?MATERIALID=" + $("#PK_MATERIAL").val() + "&MATERIALNAME=" + $("#PK_MATERIALNAME").val() + "&ZJForType=b81845ac-b864-4475-9ca0-fa8385ef3d63&Type=0&FormID=@ViewBag.FormID&Code=FANO,FANAME,MATERIALID,MATERIALNAME&DEF1=1";
        Dialog(url, "SelectZJFA", "选取质检方案信息", 900, 400);
    }
    function CallBackEventFANO(rowData) {
        $("#FANO").val(rowData.FANO);
        $("#FANAME").val(rowData.FANAME);
    }
    //获取物料信息
    function GetNCPOOrderB(PK_ORDER, PK_ORDER_B) {
        AjaxJson("/ExampleModule/POOrder/GetNCPOOrderB?PK_ORDER=" + escape(PK_ORDER) + "&PK_ORDER_B=" + escape(PK_ORDER_B), "", function (data) {
            if (IsNull(data)) {
                $("#PK_MATERIAL").val(data.PK_MATERIAL);
                $("#PK_MATERIALNAME").val(data.PK_MATERIALNAME);
                $("#FANO").val(data.FANO);
                $("#FANAME").val(data.FANAME);
            }

        });
    }

    /*明细end=======================================*/
    //得到一个对象实体
    function InitControl() {
        if (!!PK_ORDER) {
            AjaxJson("/ExampleModule/POORDER/SetFormControl", { KeyValue: PK_ORDER }, function (data) {
                SetWebControls(data);
            });
        }
    }

    function SubmitOrderForm() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            AjaxJson("/ExampleModule/POOrder/POOrderZJFASave?PK_ORDER=" + escape(PK_ORDER) + "&PK_ORDER_B=" + escape(PK_ORDER_B) + "&FANO=" + escape(IsNull($("#FANO").val()) ? $("#FANO").val() : ""), "", function (data) {
                tipDialog(data.Message, 3, data.Code);
                if (data.Code == "1") {
                    top.frames["tabs_iframe_" + ModuleId].windowload();
                    ThisCloseTab();
                }
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新 </b></span></a><a id="button_Commit_Save" title="保存单据" onclick="SubmitOrderForm()"
                class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/disk.png")) 50% 4px no-repeat;">
                    保存 </b></span></a><a title="清空质检方案" onclick="ClearZJFA()" class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                        清空质检方案 </b></span></a><a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                            <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                                离开 </b></span></a>
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            订单编号：
        </th>
        <td class="formValue">
            <input id="VBILLCODE" maxlength="50" type="text" class="txt" readonly="readonly" />
        </td>
        <th class="formTitle">
            业务日期：
        </th>
        <td class="formValue">
            <input id="DBILLDATE" type="text" class="txt" readonly="readonly" />
        </td>
        <th class="formTitle">
            采购部门：
        </th>
        <td class="formValue">
            <input id="DEPNAME" maxlength="50" type="text" class="txt" readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            供应商：
        </th>
        <td class="formValue">
            <input id="PK_SUPPLIERNAME" maxlength="50" type="text" class="txt" readonly="readonly" />
        </td>
        <th class="formTitle">
            制单人：
        </th>
        <td class="formValue">
            <input id="CREATOR" maxlength="50" type="text" class="txt" readonly="readonly" />
        </td>
        <th class="formTitle">
            制单日期：
        </th>
        <td class="formValue">
            <input id="CREATIONTIME" maxlength="50" type="text" class="txt" readonly="readonly" />
        </td>
    </tr>
</table>
<div class="bd" style="border-bottom: none; margin: 2px;">
    <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
        <div class="tab_list_top" style="position: absolute">
            <div id="Taborder" class="tab_list bd actived" onclick="Tabchange('order')">
                物料匹配质检方案
            </div>
        </div>
    </div>
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            物料：
        </th>
        <td class="formValue">
            <input id="PK_MATERIAL" maxlength="50" type="hidden" class="txt" datacol="yes" dbfield="true"
                err="物料" checkexpession="NotNull" />
            <input id="PK_MATERIALNAME" maxlength="50" type="text" class="txt" readonly="readonly"
                datacol="yes" dbfield="true" err="物料" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            质检方案：
        </th>
        <td class="formValue">
            <input id="FANO" maxlength="50" type="hidden" class="txt" datacol="no" dbfield="true"
                err="质检方案" checkexpession="NotNull" />
            <input id="FANAME" maxlength="50" type="text" class="txt" readonly="readonly" datacol="no"
                dbfield="true" err="质检方案" checkexpession="NotNull" />
        </td>
    </tr>
</table>
</form>
