@{
    ViewBag.Title = "POORDERDetail";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue'); //主键
    $(function () {
        GetGrid();
        if (!!KeyValue) {
            //主表信息
            InitControl();
            var rowindex = 1;
            //明细信息
            AjaxJson("/ExampleModule/POORDER/GetOrderEntryList", { KeyValue: KeyValue }, function (data) {
                var JsonData = data.rows;
                $.each(JsonData, function (i) {
                    var rowData = JsonData[i];
                    $("#PK_MATERIAL➩" + rowindex).val(rowData.PK_MATERIAL);
                    $("#MATERIALNAME➩" + rowindex).val(rowData.PK_MATERIALNAME);
                    $("#MATERIALCODE➩" + rowindex).val(rowData.MATERIALCODE);
                    $("#MATERIALSPEC➩" + rowindex).val(rowData.MATERIALSPEC);
                    $("#PURUNITNAME➩" + rowindex).val(rowData.PURUNITNAME);
                    $("#NASTNUM➩" + rowindex).val(rowData.NASTNUM);
                    $("#WEIGHTUNITID➩" + rowindex).val(rowData.WEIGHTUNITID);
                    $("#SECQUANTITY➩" + rowindex).val(rowData.SECQUANTITY);
                    $("#YLNUM➩" + rowindex).val(rowData.YLNUM);
                    $("#RECCOMPANYNAME➩" + rowindex).val(rowData.RECCOMPANYNAME);
                    $("#DEF5➩" + rowindex).val(rowData.DEF5);
                    rowindex++;
                });
            });
        }
    })
    /*车皮明细begin=======================================*/
    //订单分录
    function GetGrid() {
        $("#gridTable").jqGrid({
            datatype: "local",
            height: $(window).height() - 290,
            autowidth: true,
            colModel: [
                { label: '物料', name: "MATERIALNAME", width: 150, sortable: false, align: 'center' },
               { label: '规格', name: "MATERIALSPEC", width: 150, sortable: false, align: 'center' },
               { label: '主计量', name: 'PURUNITNAME', index: 'PURUNITNAME', width: 60, align: 'left' },
                { label: '主数量', name: "NASTNUM", width: 70, sortable: false, align: 'center' },
                { label: '辅计量', name: 'WEIGHTUNITID', index: 'WEIGHTUNITID', width: 60, align: 'left' },
                  { label: '辅数量', name: 'SECQUANTITY', index: 'SECQUANTITY', width: 60, align: 'left' },
                { label: '余量', name: "YLNUM", width: 70, sortable: false, align: 'center' },
                 { label: '工厂', name: 'RECCOMPANYNAME', index: 'RECCOMPANYNAME', width: 80, align: 'left' },
                { label: '备注', name: 'DEF5', index: 'DEF5', width: 80, align: 'left' }
            ],
            pager: false,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true
        });

        //默认添加6行 空行
        for (var i = 1; i < 6; i++) {
            var rowdata = {
                MATERIALNAME: '<input readonly id="MATERIALNAME➩' + i + '" class="editable " type="text" style="cursor:pointer"  /><input id="PK_MATERIAL➩' + i + '" type="hidden" />',
                MATERIALSPEC: '<input readonly id="MATERIALSPEC➩' + i + '" class="editable " type="text" style="cursor:pointer"  /><input id="MATERIALCODE➩' + i + '" type="hidden" />',
                PURUNITNAME: '<input readonly id="PURUNITNAME➩' + i + '" class="editable center" type="text"  />',
                NASTNUM: '<input readonly id="NASTNUM➩' + i + '" class="editable center" type="text"  />',
                WEIGHTUNITID: '<input readonly id="WEIGHTUNITID➩' + i + '" class="editable center" type="text"  />',
                SECQUANTITY: '<input readonly id="SECQUANTITY➩' + i + '" class="editable center" type="text"  />',

                YLNUM: '<input readonly id="YLNUM➩' + i + '" class="editable center" type="text"  />',
                RECCOMPANYNAME: '<input readonly id="RECCOMPANYNAME➩' + i + '" class="editable center" type="text"  />',
                RECORGNAME: '<input readonly id="RECORGNAME➩' + i + '" class="editable center" type="text"  />',
            }
            $('#gridTable').jqGrid('addRowData', i, rowdata);
        }
        $("#gridTable").find('.center').css('text-align', 'center')
    }

    /*明细end=======================================*/
    //得到一个对象实体
    function InitControl() {
        if (!!KeyValue) {
            AjaxJson("/ExampleModule/POORDER/SetFormControl", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }

</script>
<form id="form1" style="margin: 1px">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
        <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()">
            <span>
                <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
                    刷新
                </b>
            </span>
        </a> <a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
            <span>
                <b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                    离开
                </b>
            </span>
        </a>
    </div>
    <table class="form">
        <tr>
            <th class="formTitle">
                订单编号：
            </th>
            <td class="formValue">
                <input id="VBILLCODE" maxlength="50" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                供应商：
            </th>
            <td class="formValue">
                <input id="PK_SUPPLIERNAME" maxlength="50" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                业务日期：
            </th>
            <td class="formValue">
                <input id="DBILLDATE" type="text" class="txt" readonly="readonly" />
            </td>
        </tr>

        <tr>
            <th class="formTitle">
                采购公司：
            </th>
            <td class="formValue">
                <input id="PK_ORGNAME" maxlength="50" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                采购部门：
            </th>
            <td class="formValue">
                <input id="DEPTNAME" maxlength="50" type="text" class="txt" readonly="readonly" />
            </td>
            <th class="formTitle">
                订单类型：
            </th>
            <td class="formValue">
                <select id="BILLTYPE" class="txt select" disabled="disabled">
                    <option value="">===请选择===</option>
                    <option value="YG01">标准采购订单</option>
                    <option value="YG02">固定资产采购订单</option>
                    <option value="YG03">寄售采购订单</option>
                    <option value="YG04">委外维修采购订单</option>
                    <option value="YG05">成本中心采购订单</option>
                    <option value="YG06">内部订单采购订单</option>
                    <option value="YG07">价格后置采购订单</option>
                    <option value="YG08">免费采购订单</option>
                    <option value="YG09">退货采购订单</option>
                    <option value="YG10">公司间采购订单</option>
                    <option value="YG11">基建采购订单</option>
                    <option value="YG12">试用采购订单</option>
                    <option value="YG13">项目采购订单</option>
                </select>
            </td>

        </tr>

        <tr>
            <th class="formTitle">
                制单人：
            </th>
            <td class="formValue">
                <input id="CREATOR" type="text" class="txt" readonly="readonly" />

            <th class="formTitle">
                备注：
            </th>
            <td class="formValue" colspan="3">
                <input id="VMEMO" name="VMEMO" type="text" class="txt" />
            </td>
        </tr>
    </table>
    <div class="bd" style="border-bottom: none; margin: 2px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Taborder" class="tab_list bd actived" onclick="Tabchange('order')">
                    明细信息
                </div>
            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--拼单信息-->
        <div id="order" class="tabPanel">
            <table id="gridTable"></table>
            <style>
                .ui-widget-content {
                    border-left: none;
                }

                .ui-jqgrid tr.ui-row-ltr td {
                    padding: 0px;
                    border-bottom: 1px solid #ccc;
                }

                .ui-jqgrid .ui-jqgrid-htable th {
                    line-height: 15px;
                }

                    .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
                        background: none;
                    }

                .editable {
                    height: 22px;
                    background-color: #fff;
                }
            </style>
        </div>
    </div>
</form>
