@{
    ViewBag.Title = "生铁判定公式";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () { 
        GetGrid(); 
    })  

    //搜索
    function btn_Search() { 
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/BaseSet/ZJPigironFormula/GetPIGIronList")", page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() { 
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/BaseSet/ZJPigironFormula/GetPIGIronList")",
            datatype: "json",
            height: $(window).height() - 110,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'ID', index: 'ID', width: 80, align: 'left', hidden: true },
                { label: '质检方案', name: 'FANAME', index: 'FANAME', width: 100, align: 'center' },
                { label: '质检项目', name: 'ITEMNAME', index: 'ITEMNAME', width: 100, align: 'center' },
                { label: '牌号/类别', name: 'TYPE', index: 'TYPE', width: 100, align: 'center' },
                { label: '比较符', name: 'SIGNMIN', index: 'SIGNMIN', width: 100, align: 'center' },
                { label: '开始', name: 'MINJS', index: 'MINJS', width: 180, align: 'center' }, 
                { label: '比较符', name: 'SIGNMAX', index: 'SIGNMAX', width: 100, align: 'center' },
                { label: '结束', name: 'MAXJS', index: 'MAXJS', width: 180, align: 'center' }, 
                { label: '标准值', name: 'PIGVALUE', index: 'PIGVALUE', width: 110, align: 'center'  },   
                { label: '创建人', name: 'CREUSER', index: 'CREUSER', width: 90, align: 'center' },
                {
                    label: '创建日期', name: 'CRETIME', index: 'CRETIME', width: 110, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                } 
            ],
            viewrecords: true,
            rowNum: 30,
            rownumbers:true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CRETIME',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false

        });
        //
    }
    //新增
    function btn_add() {
        var url = "/BaseSet/ZJPigironFormula/ZJPigironFormulaForm";
        openDialog(url, "ZJPigironFormulaForm", "新增生铁判定公式", 750,380, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            var url = "/BaseSet/ZJPigironFormula/ZJPigironFormulaForm?KeyValue=" + KeyValue;
            openDialog(url, "ZJPigironFormulaForm", "编辑生铁判定公式", 750,380, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/BaseSet/ZJPigironFormula/DeletePIGIRON', delparm, KeyValue.split(",").length);
        }
    }
      
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
