@{ ViewBag.Title = "厂内倒运计划"; Layout = "~/Views/Shared/_LayoutIndex.cshtml"; }
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue'); //主键

    var ModuleId = GetQuery('ModuleId'); //菜单主键
    var array = new Array();
    $(function () {

        GetGrid();
        if (!!KeyValue) {
            //主表信息
            InitControl();
            var rowindex = 1;
            //明细信息
            AjaxJson("/ExampleModule/ZXBillSOF/GetOrderEntryList", { KeyValue: KeyValue }, function (data) {
                var JsonData = data.rows;
                $.each(JsonData, function (i) {
                    var rowData = JsonData[i];
                    $("#ID➩" + rowindex).val(rowData.ID);
                    $("#STORE➩" + rowindex).val(rowData.STORE);
                    $("#STORENAME➩" + rowindex).val(rowData.STORENAME);
                    $("#NET_DEMAND_CONFIRMED_QTY➩" + rowindex).val(rowData.NET_DEMAND_CONFIRMED_QTY);
                    $("#BATCHNO➩" + rowindex).val(rowData.BATCHNO);
                    $("#STORE1➩" + rowindex).val(rowData.STORE1);
                    $("#STORENAME1➩" + rowindex).val(rowData.STORENAME1);
                    $("#BATCHNO1➩" + rowindex).val(rowData.BATCHNO1);
                    $("#BZAMOUNT➩" + rowindex).val(rowData.BZAMOUNT);
                    $("#STATUS➩" + rowindex).val(rowData.STATUS);
                    $("#MEMO➩" + rowindex).val(rowData.MEMO);
                    $("#gridTable tbody tr:eq(" + rowindex + ")").find('input').attr("datacol", "yes");
                    array[rowindex] = rowData.STORE;
                    rowindex++;
                    $("#gridTable tbody tr:eq(" + rowindex + ")").find('input').removeAttr('disabled');
                    $("#gridTable").find('.disabled').attr("disabled", "disabled");
                    //$("#STORENAME➩" + rowindex).focus();

                });
            });
            Conversion(1);
        }
    })

    function StoreAutocomplete(rowindex) {
        var index = rowindex;
        var txtname = "STORENAME➩" + rowindex;
        var $txtid = $("#STORE➩" + rowindex);
        var $txtname = $("#STORENAME➩" + rowindex);

        var $txtid1 = $("#STORE1➩" + rowindex);
        var $txtname1 = $("#STORENAME1➩" + rowindex);
        var $txtno1 = $("#BATCHNO1➩" + rowindex);
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
            if (this.value == "") {
                $txtid.val("");
                $txtid1.val("");
                $txtname1.val("");
                $txtno1.val("");
                array[rowindex] = null;
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            // if (!IsExistStore(rowindex, data.id)) {
            $txtid.val(data.id);
            $txtname.val(data.name);
            GetStoreBatch(data.id, rowindex);
            var TYPE = $("#TYPE").val();
            if (TYPE == "0") {
                var STORE1 = $("#STORE1").val();
                var STORENAME1 = $("#STORENAME1").val();
                var BATCHNO1 = $("#BATCHNO1").val();
                $txtid1.val(STORE1);
                $txtname1.val(STORENAME1);
                $txtno1.val(BATCHNO1);
            }

            index++;
            $("#gridTable tbody tr:eq(" + index + ")").find('input').removeAttr('disabled');
            $("#gridTable").find('.disabled').attr("disabled", "disabled");
            //$("#STORENAME➩" + rowindex).focus();
            //} else {
            //    top.TipMsg("库位已存在,不能重复添加", 4000, "error");
            //}
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/Store", { keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="id" style="display: none;">' + DataJson[i].id + '</td>';
                    html += '<td id="name" style="width: 100%;">' + DataJson[i].name + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    // if (!IsExistStore(rowindex, data.id)) {
                    $txtid.val(data.id);
                    $txtname.val(data.name);
                    GetStoreBatch(data.id, rowindex);
                    var TYPE = $("#TYPE").val();
                    if (TYPE == "0") {
                        var STORE1 = $("#STORE1").val();
                        var STORENAME1 = $("#STORENAME1").val();
                        var BATCHNO1 = $("#BATCHNO1").val();
                        $txtid1.val(STORE1);
                        $txtname1.val(STORENAME1);
                        $txtno1.val(BATCHNO1);
                    }
                    index++;
                    $("#gridTable tbody tr:eq(" + index + ")").find('input').removeAttr('disabled');
                    $("#gridTable").find('.disabled').attr("disabled", "disabled");
                    //$("#STORENAME➩" + rowindex).focus();
                    // } else {
                    //  top.TipMsg("库位已存在,不能重复添加", 4000, "error");
                    //}
                });
            });
        }
    }


    function StoreAutocomplete1(rowindex) {
        var index = rowindex;
        var txtname = "STORENAME1➩" + rowindex;
        var $txtid = $("#STORE1➩" + rowindex);
        var $txtname = $("#STORENAME1➩" + rowindex);
        var $txtno = $("#BATCHNO1➩" + rowindex);

        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
            if (this.value == "") {
                $txtid.val("");
                $txtno.val("");
                array[rowindex] = null;
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtid.val(data.id);
            $txtname.val(data.name);
            $txtno.val(data.id);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/Store", { keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="id" style="display: none;">' + DataJson[i].id + '</td>';
                    html += '<td id="name" style="width: 100%;">' + DataJson[i].name + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtid.val(data.id);
                    $txtname.val(data.name);
                    $txtno.val(data.id);
                });
            });
        }
    }

    //得到一个对象实体
    function InitControl() {
        if (!!KeyValue) {
            AjaxJson("/ExampleModule/ZXBillSOF/SetFormControl", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
                if (data.TYPE == "1") {
                    $("#STORE1").val("");
                    $("#STORENAME1").val("");
                    $("#BATCHNO1").val("");
                }
            });
        }
    }

    function GetStoreBatch(store, rowindex) {
        var material = $("#ITEM_BO").val();
        if (material != "") {
            AjaxJson("/ExampleModule/ZXBillSOF/GetBatch", { store: store, material: material }, function (data) {
                $("#BATCHNO➩" + rowindex).val(data.BATCHNO);
            });
        }
    }

    //保存事件
    function SubmitOrderForm() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        confirmDialog('提示', '注：您确认要保存此操作吗？', function (r) {
            if (r) {
                Loading(true, "正在提交数据...");
                window.setTimeout(function () {
                    var postData = GetWebControls("#tb_OrderFrom");
                    postData["OrderEntryJson"] = GetTableDataJson("#gridTable");
                    AjaxJson("/ExampleModule/ZXBillSOF/SubmitOrderFormFJ?KeyValue=" + KeyValue + "&ModuleId=" + ModuleId, postData, function (data) {
                        tipDialog(data.Message, 3, data.Code);
                        var tabframeid = "tabs_iframe_" + ModuleId;
                        top.frames[tabframeid].windowload();
                        ThisCloseTab();
                    });
                }, 200);
            }
        });
    }

    function GetGrid() {
        $("#gridTable").jqGrid({
            datatype: "local",
            height: $(window).height() - 280,
            autowidth: true,
            colModel: [
                { label: '发货仓库[<font face="宋体">*</font>]', name: "STORENAME", width: 220, sortable: false },
                { label: '原批次号', name: 'BATCHNO', width: 80, sortable: false, align: 'center' },
                { label: '分解量', name: 'NET_DEMAND_CONFIRMED_QTY', width: 80, sortable: false, align: 'center' },
                { label: '状态', name: 'STATUS', width: 80, sortable: false, align: 'center' },
                { label: '收货仓库[<font face="宋体">*</font>]', name: "STORENAME1", width: 220, sortable: false },
                { label: '现批次号', name: 'BATCHNO1', width: 80, sortable: false, align: 'center' },
                { label: '包重', name: 'BZAMOUNT', width: 80, sortable: false, align: 'center' },
                { label: '备注', name: "MEMO", width: 200, sortable: false }
            ],
            pager: false,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            footerrow: true,
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "STORENAME": "合计",
                    "NET_DEMAND_CONFIRMED_QTY": "<span id='TotalQTY'>0.00</span>"
                });
            }
        });

        //默认添加10行 空行
        for (var i = 1; i < 11; i++) {
            var rowdata = {
                STORENAME: '<input id="STORENAME➩' + i + '"   class="editable" type="text" style="cursor:pointer" datacol="no" err="发货仓库" checkexpession="NotNull" /><input id="STORE➩' + i + '" type="hidden" /><input id="ID➩' + i + '" type="hidden" />',
                BATCHNO: '<input id="BATCHNO➩' + i + '" class="editable" type="text" style="cursor:pointer"  />',
                NET_DEMAND_CONFIRMED_QTY: '<input id="NET_DEMAND_CONFIRMED_QTY➩' + i + '" class="editable decimal" type="text" style="cursor:pointer"  value="0" onkeyup="Conversion(' + i + ')"/>',
                STATUS: '<select id="STATUS➩' + i + '" class="txtselect" style="width:80px;" ><option value="CONFIRMED" style="color:red;"  selected="true">已确认</option><option  style="color:Blue;" value="CANCELED"  >已取消</option></select>',
                STORENAME1: '<input id="STORENAME1➩' + i + '"   class="editable" type="text" style="cursor:pointer" datacol="no" err="收货仓库" checkexpession="NotNull" /><input id="STORE1➩' + i + '" type="hidden" /><input id="ID➩' + i + '" type="hidden" />',
                BATCHNO1: '<input id="BATCHNO1➩' + i + '" class="editable" type="text" style="cursor:pointer"  />',
                BZAMOUNT: '<input id="BZAMOUNT➩' + i + '" class="editable" type="text" style="cursor:pointer" value="0" />',
                MEMO: '<input id="MEMO➩' + i + '" class="editable" type="text" style="cursor:pointer"  />'
            }
            $('#gridTable').jqGrid('addRowData', i, rowdata);
            StoreAutocomplete(i);
            StoreAutocomplete1(i);
        }
        //金额设置居中、设置只能输入金额格式

        $("#gridTable").find('.center').css('text-align', 'center')
        $("#gridTable").find('input').attr("disabled", "disabled");
        $("#gridTable tbody tr:eq(1)").find('input').removeAttr('disabled').attr("datacol", "yes");
        $("#gridTable").find('.disabled').attr("disabled", "disabled");
        $('.jqgrid-rownum').attr('title', '双击清空一行');
        $("#gridTable tbody tr").find('td:eq(0)').dblclick(function () {
            var index = $(this).text();
            if (index == 10) {
                array[index] = null;
                $("#STORE➩" + index).val("");
                $("#STORENAME➩" + index).val("");
                $("#BATCHNO➩" + index).val("");
                $("#STORE1➩" + index).val("");
                $("#STORENAME1➩" + index).val("");
                $("#BATCHNO1➩" + index).val("");
                $("#NET_DEMAND_CONFIRMED_QTY➩" + index).val("0");
                $("#MEMO➩" + index).val("");
                $("#STATUS➩" + index).val("CONFIRMED");
                $("#gridTable tbody tr:eq(" + index + ")").find('input').attr("datacol", "no");
            } else {
                var j = parseInt(index) + 1;
                for (var i = index; i < 11; i++) {
                    var STORE = $("#STORE➩" + j).val();
                    if (STORE != "") {
                        var STORENAME = $("#STORENAME➩" + j).val();
                        var BATCHNO = $("#BATCHNO➩" + j).val();
                        var STORE1 = $("#STORE1➩" + j).val();
                        var STORENAME1 = $("#STORENAME1➩" + j).val();
                        var BATCHNO1 = $("#BATCHNO1➩" + j).val();
                        var STATUS = $("#STATUS➩" + j).val();
                        var MEMO = $("#MEMO➩" + j).val();
                        var NET_DEMAND_CONFIRMED_QTY = $("#NET_DEMAND_CONFIRMED_QTY➩" + j).val();

                        array[index] = STORE;
                        $("#STORE➩" + index).val(STORE);
                        $("#STORENAME➩" + index).val(STORENAME);
                        $("#BATCHNO➩" + index).val(BATCHNO);
                        $("#STORE1➩" + index).val(STORE1);
                        $("#STORENAME1➩" + index).val(STORENAME1);
                        $("#BATCHNO1➩" + index).val(BATCHNO1);
                        $("#NET_DEMAND_CONFIRMED_QTY➩" + index).val(NET_DEMAND_CONFIRMED_QTY);
                        $("#STATUS➩" + index).val(STATUS);
                        $("#MEMO➩" + index).val(MEMO);
                    } else {
                        array[index] = null;
                        $("#STORE➩" + index).val("");
                        $("#STORENAME➩" + index).val("");
                        $("#BATCHNO➩" + index).val("");
                        $("#STORE1➩" + index).val("");
                        $("#STORENAME1➩" + index).val("");
                        $("#BATCHNO1➩" + index).val("");
                        $("#STATUS➩" + index).val("CONFIRMED");
                        $("#MEMO➩" + index).val("");
                        $("#NET_DEMAND_CONFIRMED_QTY➩" + index).val("0");
                        $("#gridTable tbody tr:eq(" + index + ")").find('input').attr("datacol", "no");
                    }
                    j++;
                    index++;
                }
            }

        });
        //$("#gridTable tbody tr").find('td:eq(1)').find('input').click(function () {
        //    if ($(this).attr('disabled') == 'disabled') {
        //        return false;
        //    }
        //    var index = $(this).attr('id').split('➩')[1];
        //    var url = "/ExampleModule/ZXBillSOF/SELECTSTORES?index=" + index;
        //    Dialog(url, "SELECTSTORES", "选取库位信息（双击表格添加）", 900, 400);
        //});

        //价格信息文本框点击事件
        $("#gridTable").find('.decimal').click(function () {
            $(this).select();
        });
    }

    //订单明细换算+合计
    function Conversion(index) {
        //统计合计
        var TotalQTY = 0;
        $("#gridTable tbody tr").each(function (i) {
            var QTY = $(this).find('td:eq(3)').find('input').val();
            if (QTY != "" && QTY != undefined) {
                TotalQTY += Number(QTY);
            }
        });
        $("#TotalQTY").text(getFloat(TotalQTY, 3));

    }


    function IsExistStore(index, code) {
        if (!ArrayExists(array, code)) {
            array[index] = code;
            return false;
        } else {
            return true;
        }
    }

    /*明细end=======================================*/
</script>
<form id="form1">
    <div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
        <div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
            <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()">
                <span>
                    <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
                        刷新
                    </b>
                </span>
            </a> <a id="button_Commit_Save" class="tools_btn" title="保存单据" onclick="SubmitOrderForm()">
                <span>
                    <b style='background: url(@Url.Content("~/Content/Images/Icon16/disk.png")) no-repeat 50% 4px;'>
                        保存
                    </b>
                </span>
            </a><a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                <span>
                    <b style='background: url(@Url.Content("~/Content/Images/Icon16/back.png")) no-repeat 50% 4px;'>
                        离开
                    </b>
                </span>
            </a>
        </div>
        <table id="tb_OrderFrom" class="form">
            <tr>
                <th class="formTitle">
                    计划单号：
                </th>
                <td class="formValue">
                    <input id="ID" type="hidden" dbfield="true" />
                    <input id="HANDLE" type="text" class="txt readonly required" datacol="yes"
                           readonly="readonly" err="计划单号" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    站点：
                </th>
                <td class="formValue">
                    <input id="SITE" type="hidden" dbfield="true" />
                    <input id="SITENAME" type="text" class="txt readonly" readonly="readonly" datacol="yes"
                           err="站点" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    车间：
                </th>
                <td class="formValue">
                    <input id="WORK_SHOP_BO" type="hidden" />
                    <input id="WORK_SHOP_BONAME" type="text" class="txt readonly" readonly="readonly" datacol="yes" err="车间"
                           checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    产线：
                </th>
                <td class="formValue">
                    <input id="PRODUCTION_LINE_BO" type="hidden" />
                    <input id="PRODUCTION_LINE_BONAME" type="text" class="txt readonly" readonly="readonly" />
                </td>
                <th class="formTitle">
                    工序：
                </th>
                <td class="formValue">
                    <input id="OPERATION_BO" type="hidden" />
                    <input id="OPERATION_BONAME" type="text" class="txt readonly" readonly="readonly" />
                </td>
                <th class="formTitle">
                    物料：
                </th>
                <td class="formValue">
                    <input id="ITEM_BO" type="hidden" />
                    <input id="ITEM_BONAME" type="text" class="txt readonly" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    工作中心：
                </th>
                <td class="formValue">
                    <input id="DATATYPE" type="hidden" />
                    <input id="WORK_BO" type="hidden" />
                    <input id="WORK_BONAME" type="text" class="txt readonly" readonly="readonly" />
                </td>
                <th class="formTitle">
                    班组：
                </th>
                <td class="formValue">
                    <input id="SHIFT" type="hidden" />
                    <input id="SHIFTNAME" type="text" class="txt readonly" readonly="readonly" />
                </td>
                <th class="formTitle">
                    待备库量：
                </th>
                <td class="formValue">
                    <input id="DEMAND_ORIGINAL_QTY" type="hidden" />
                    <input id="DEMAND_CONFIRMED_QTY" type="hidden" />
                    <input id="NET_DEMAND_CONFIRMED_QTY" type="text" class="txt readonly" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    收货仓库：
                </th>
                <td class="formValue">
                    <input id="STORE1" type="hidden" />
                    <input id="STORENAME1" type="text" class="txt readonly" readonly="readonly" />
                </td>
                <th class="formTitle">
                    收货批次号：
                </th>
                <td class="formValue">
                    <input id="BATCHNO1" type="text" class="txt readonly" readonly="readonly" />
                </td>
                <th class="formTitle">
                    类型：
                </th>
                <td class="formValue">
                    <select id="TYPE" class="txt select" disabled="true">
                        <option value="">===请选择===</option>
                        <option value="0">上料</option>
                        <option value="1">移库</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    需求日期：
                </th>
                <td class="formValue">
                    <input id="DEMAND_DATE" type="text" class="txt readonly" readonly="readonly" datacol="yes"
                           err="需求日期" checkexpession="NotNull" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />
                </td>
                <th class="formTitle">
                    制单人：
                </th>
                <td class="formValue">
                    <input id="DEMAND_CONFIRMED_USER" type="hidden" />
                    <input id="MODIFED_USER" type="hidden" />
                    <input id="CREATED_USER" type="text" class="txt readonly" readonly="readonly" datacol="yes"
                           err="制单人" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    制单时间：
                </th>
                <td class="formValue">
                    <input id="DEMAND_CONFIRMED_DATE" type="hidden" />
                    <input id="MODIFED_DATE_TIME" type="hidden" />
                    <input id="CREATED_DATE_TIME" type="text" class="txt readonly" readonly="readonly" datacol="yes"
                           err="制单时间" checkexpession="NotNull" />
                </td>
            </tr>

        </table>
        <div id="grid_List">
            <table id="gridTable"></table>
            <style>
                .ui-widget-content {
                    border-left: none;
                }

                .ui-jqgrid tr.ui-row-ltr td {
                    padding: 0px;
                    border-bottom: 1px solid #ccc;
                }

                .ui-jqgrid .ui-jqgrid-htable th {
                    line-height: 15px;
                }

                    .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
                        background: none;
                    }

                .editable {
                    height: 22px;
                    background-color: #fff;
                }
            </style>
        </div>
    </div>
</form>
