@{
    ViewBag.Title = "原料采样新增";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery("ModuleId");
    var KeyValue = GetQuery("KeyValue");
    $(function () {
        InitControl();
    });

    //得到一个对象实体
    function InitControl() {
        if (IsNull(KeyValue)) {
            AjaxJson("/ZJManager/PCRawCY/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    function SetWebControls(data) {
        try {
            if (data != null) {
                for (var key in data.M[0]) {
                    var id = $('#' + key);
                    if (id.attr('id')) {
                        var value = $.trim(data.M[0][key]).replace("&nbsp;", "").replace(/</g, "<").replace(/>/, ">");
                        var type = id.attr('type');
                        switch (type) {
                            case "checkbox":
                                if (value == 1) {
                                    id.attr("checked", 'checked');
                                } else {
                                    id.removeAttr("checked");
                                }
                                break;
                            default:
                                id.val(value);
                                break;
                        }
                    }
                }

            }
        } catch (e) {
            alert(e)
        }
    }

    //保存事件
    function SubmitOrderForm() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControlsForTrue("#RuleHead");
            postData["PCRAWCYDetailJson"] = GetTableDataJson("#Temp_List");
            AjaxJson("/ZJManager/PCRawCY/PCRawCYSave?KeyValue=" + GetQuery('KeyValue') + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                if (data.Code == "1") {
                    top.frames["tabs_iframe_" + ModuleId].windowload();
                    //ThisCloseTab();
                }
            });
        }, 200);
    }
    //保存事件  后关闭
    function SubmitOrderFormClose() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControlsForTrue("#RuleHead");
            AjaxJson("/ZJManager/PCRawZY/PCRawZYSave?KeyValue=" + GetQuery('KeyValue') + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                if (data.Code == "1") {
                    top.frames["tabs_iframe_" + ModuleId].windowload();
                    ThisCloseTab();
                }
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新 </b></span></a><a id="button_Commit_Save" title="保存单据" onclick="SubmitOrderFormClose()"
                class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/disk.png")) 50% 4px no-repeat;">
                    保存 </b></span></a><a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                        <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                            离开 </b></span></a>
</div>
<div id="PCRAWCYADD">
    <div id="RuleHead">
        <table class="form">
            <tr>
                <th class="formTitle">
                    制样单号：
                </th>
                <td class="formValue">
                    <input id="PRINTCODE" maxlength="50" type="text" dbfield="true" class="txt readonly"
                        readonly="readonly" />
                </td>
                <th class="formTitle">
                    物料：
                </th>
                <td class="formValue">
                    <input id="MATERIALSHORTNAME" type="text" class="txt readonly" readonly="readonly" />
                </td>
                <th class="formTitle">
                    采样车数：
                </th>
                <td class="formValue">
                    <input id="CARSNUM" type="text" class="txt required readonly" readonly="readonly"
                        dbfield="true" err="采样车数" checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    描述：
                </th>
                <td class="formValue" colspan="5">
                    <input id="MEMO" type="text" class="txt" err="描述" dbfield="true" />
                </td>
            </tr>
        </table>
    </div>
</div>
</form>
