@{
    ViewBag.Title = "采购过磅查询";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script>

    $(function () {
        BindAutocomplete("RECEIVEORG", "PK_RECEIVEORG", "Company", "200", "150", "");
        //BindComBoxTree("matclassname", "matclass", "200", "/BaseSet/Material/TreeJson");
        BindAutocomplete("CarsName", "Cars", "Cars", "200", "150", "");
        BindAutocomplete("MaterialName", "Material", "Material", "200", "150", "");
        BindAutocomplete("SupplyName", "Supply", "Supply", "200", "150", "");
        BindAutocomplete("TRAFFICCOMPANYNAME", "TRAFFICCOMPANY", "TrafficCompany", "200", "150", "");

    })
    //获取条件
    function GetConditionURL() {
        var url = "";
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BillNo = $("#BillNo").val();
        var VBillCode = $("#VBillCode").val();
        var DHBillNo = $("#DHBillNo").val();
        var Cars = $("#Cars").val();
        var Material = $("#Material").val();
        var Supply = $("#Supply").val();
     
        var Finish = $("#FINISH").val();
        var COMPUTERTYPE = $("#COMPUTERTYPE").val();
      
        var PK_RECEIVEORG = $("#PK_RECEIVEORG").val();

        var TRAFFICCOMPANY = $("#TRAFFICCOMPANY").val();
     

        url += "&StartTime=" + StartTime + "&EndTime=" + EndTime + "&BillNo=" + BillNo;
        url += "&VBillCode=" + VBillCode + "&DHBillNo=" + DHBillNo + "&COMPUTERTYPE=" + COMPUTERTYPE;
        url += "&Cars=" + escape(Cars) + "&Material=" + escape(Material);
        url += "&Supply=" + escape(Supply) + "&Finish=" + Finish;
        url += "&PK_RECEIVEORG=" + PK_RECEIVEORG + "&TRAFFICCOMPANY=" + TRAFFICCOMPANY ;
        return url;
    }
    //回调查询确认事件
    function QueryClick(callBack) {
        callBack(GetConditionURL());
        closeDialog();
    }
</script>
<div class="QueryArea">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>
                开始时间：
            </th>
            <td>
                <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-2)" style="width: 200px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
            </td>
            <th>
                结束时间：
            </th>
            <td>
                <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 200px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
            </td>
        </tr>
        <tr>
            <th>
                收货工厂：
            </th>
            <td>
                <input id="PK_RECEIVEORG" type="hidden" />
                <input id="RECEIVEORG" type="text" class="txt" style="width: 200px" />
            </td>
            <th>
                订单编号：
            </th>
            <td>
                <input id="VBillCode" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                供应商：
            </th>
            <td>
                <input id="Supply" type="hidden" />
                <input id="SupplyName" type="text" class="txt" style="width: 200px" />
            </td>
            <th>
                到货单号：
            </th>
            <td>
                <input id="DHBillNo" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                车号：
            </th>
            <td>
                <input id="Cars" type="hidden" />
                <input id="CarsName" type="text" class="txt" style="width: 200px" />
            </td>
            <th>
                过磅单号：
            </th>
            <td>
                <input id="BillNo" type="text" class="txt" style="width: 200px" />
            </td>
           
        </tr>
        <tr>
            <th>
                物料：
            </th>
            <td>
                <input id="Material" type="hidden" />
                <input id="MaterialName" type="text" class="txt" style="width: 200px" />
            </td>
            <th>
                计量状态：
            </th>
            <td>
                <select id="FINISH" name="FINISH" class="select" style="width: 205px;">
                    <option value="">---请选择---</option>
                    <option value="0">一次计量</option>
                    <option value="1" selected="selected">二次计量</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                承运商：
            </th>
            <td>
                <input id="TRAFFICCOMPANY" type="hidden" />
                <input id="TRAFFICCOMPANYNAME" type="text" class="txt" style="width: 200px" />
            </td>
            <th>
                操作状态：
            </th>
            <td>
                <select id="COMPUTERTYPE" name="COMPUTERTYPE" class="select" style="width: 205px;"
                        dbfield="true" like="false">
                    <option value="">---请选择---</option>
                    <option value="99">作废</option>
                    <option value="12">补增</option>
                    <option value="11">正常</option>
                    <option value="13">参照</option>
                </select>
            </td>
        </tr>


    </table>
</div>
