@{
    ViewBag.Title = "司机管理》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        BindAutocomplete("PK_CARRIERNAME", "PK_CARRIER", "TrafficCompany", "200", "120", "");
        $("#NAME").keyup(function () {
            $("#SHORTNAME").val(this.value);
        });

        InitControl();

    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseSet/QualityPost/SetFormControl", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/BaseSet/QualityPost/SubmitOrderForm?KeyValue=" + GetQuery('KeyValue') + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
<div id="message" style="display: none">
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            岗位编号：
        </th>
        <td class="formValue">
            <input id="WORK_ID" type="text" class="txt required" datacol="yes" err="岗位编号" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            岗位名称：
        </th>
        <td class="formValue">
            <input id="WORK_NAME" type="text" class="txt required" datacol="yes" err="岗位名称" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            岗位数量：
        </th>
        <td class="formValue">
            <input id="WORK_AMOUNT" type="text" class="txt required" datacol="yes" err="岗位数量" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            能力：
        </th>
        <td class="formValue">
            <select id="ABILITY" class="txtselect" datacol="yes">
                <option value="0">采样</option>
                <option value="1">验级</option>
                <option value="2">采样+验级</option>
            </select>
        </td>
    </tr>
</table>
</form>
