@{
    ViewBag.Title = "转序报表";
    Layout = "~/Views/Shared/_LayoutReportIndex.cshtml";
}
<script type="text/javascript">
    var Company = "@ViewBag.Company";
    $(function () {
        $("#layoutA").splitter({
            type: "v",
            outline: true,
            minLeft: 235, sizeLeft: 235, maxLeft: 235,
            anchorToWindow: true,
            accessKey: "L"
        });
        LoadReport();
        $("#reporttype").change(function () {
            LoadReport();
        });
    })

    function LoadReport() {
        var Report = "";
        var Data = "/ReportManager/SalesReport/SalesLoad";
        //报表显示查询条件
        var Parm_Key_Name = GetParm_Key_Name();
        var start_Date = $("#bdate").val();
        var end_Date = $("#edate").val();
        var ReportName = $("#reporttype").find("option:selected").text();
        //报表参数对应值
        var Parameter = "title,Query,start_Date,end_Date|String,String,String,String|" + Company + ReportName + "," + Parm_Key_Name + "," + start_Date + "," + end_Date;
        //查询条件
        var Parm_Key_Value = GetParm_Key_Value();

        var ReportType = $("#reporttype").val();

        if (ReportType == "000045") {
            Report = "OtherDBReport/GXWeightByDZGZ.grf";
            Data = "/ReportManager/PrintViewReport/GXWeightDataSetReport";
        }
        var path = "/ReportManager/PrintViewReport/PrintViewReportIndex?Report=" + Report + "&Data=" + Data;
        path += "&Parm_Key_Value=" + escape(Parm_Key_Value) + escape("reporttype☻" + ReportType + "☻true");
        path += "&Parameter=" + escape(Parameter);
        $("#iframeReport").attr("src", path);
    }
    //查询条件PK值
    function GetParm_Key_Value() {
        var Parm_Key_Value = "";
        $(".form-find tr td").find("[DBField=true]").each(function () {
            var pk_id = $(this).attr('id');
            var pk_value = $("#" + pk_id).val();
            if (pk_value != "") {
                var like = $(this).attr('like');
                Parm_Key_Value += pk_id + "☻" + (pk_value == null ? "" : pk_value) + "☻" + like + "≌";
            }
        });
        return Parm_Key_Value
    }
    //查询条件名称值
    function GetParm_Key_Name() {
        var Parm_Key_Name = "";
        $(".form-find tr td").find("[DBField=true]").each(function () {
            var type = this.type;
            var pk_id = $(this).attr('id');
            var pk_value = "";
            if (type == "hidden") {
                pk_value = $("#" + pk_id + "Name").val();
            } else {
                pk_value = $("#" + pk_id).val();
            }
            if (pk_value != "" && pk_value != undefined && pk_value != 'undefined' && pk_id != "bdate" && pk_id != "edate" && pk_id != "reporttype") {
                if (Parm_Key_Name == "") {
                    Parm_Key_Name += pk_value;
                } else {
                    Parm_Key_Name += "-" + pk_value;
                }
            }
        });
        return Parm_Key_Name;
    }

    function SelectMaterial() {
        $("#iframeReport").hide();

        var url = "/Utility/SelectMaterial?type=2";

        openMyDialog(url, "Form11111", "选取物料信息", 800, 380,
             function (iframe) {
                 top.frames[iframe].SelectText("MTNAME", "MTID");
                 $("#iframeReport").show();
             }, function (iframe) {
                 top.frames[iframe].ClearText("MTNAME", "MTID");
                 $("#iframeReport").show();
             });
    }


    function SelectDept(txtname, txtid, title) {
        $("#iframeReport").hide();
        var url = "/Utility/SelectDept";
        openMyDialog(url, "Form11111", title, 800, 380,
             function (iframe) {
                 top.frames[iframe].SelectText(txtname, txtid);
                 $("#iframeReport").show();
             }, function (iframe) {
                 top.frames[iframe].ClearText(txtname, txtid);
                 $("#iframeReport").show();
             });
    }
</script>
<div id="layoutA" class="layout">
    <!--左边-->
    <div class="layoutPanel layout-west">
        <div class="QueryArea">
            <table border="0" class="form-find" style="height: 45px;">
                <tr>
                    <th>
                        报表类型：
                    </th>
                    <td>
                        <select id="reporttype" name="reporttype" class="select" style="width: 140px;">
                            <option value="000045">工序点支根重报表</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        班组：
                    </th>
                    <td class="formValue">
                        @*<select id="CCLASS" class="select" style="width: 140px;" dbfield="true" like="false">*@
                        <select id="aduituser" class="select" style="width: 140px;" dbfield="true" like="false">
                            <option value="">---请选择---</option>
                            <option value="甲">甲</option>
                            <option value="乙">乙</option>
                            <option value="丙">丙</option>
                            <option value="丁">丁</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        开始时间：
                    </th>
                    <td>
                        <input id="bdate" type="text" class="txt Wdate"  style="width: 135px" value="@DateTime.Now.ToString("yyyy-MM-dd 00:00:00")"
                          onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd HH:mm:ss&#39;})" dbfield="true" like="false"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        结束时间：
                    </th>
                    <td>
                        <input id="edate" type="text" class="txt Wdate" style="width: 135px" value="@DateTime.Now.ToString("yyyy-MM-dd 23:59:59")"
                          onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd HH:mm:ss&#39;})"dbfield="true" like="false"/>
                    </td>
                </tr>
                <tr>
                    <th>
                    </th>
                    <td>
                        <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="LoadReport()" />
                        <input id="btnClear" type="button" class="btnSearch" value="清 空" onclick="ClearValue()" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--中间-->
    <div class="layoutPanel layout-center">
        <iframe id="iframeReport" src="" scrolling="auto" frameborder="0" scrolling="no"
            width="100%" height="100%"></iframe>
    </div>
</div>
