@{
    ViewBag.Title = "采购报表";
    Layout = "~/Views/Shared/_LayoutReportIndex.cshtml";
}
<script type="text/javascript">
    var Company = "@ViewBag.Company";
    $(function () {
        $("#layoutA").splitter({
            type: "v",
            outline: true,
            minLeft: 250, sizeLeft: 250, maxLeft: 250,
            anchorToWindow: true,
            accessKey: "L"
        });
        LoadReport();
        $("#reporttype").change(function () {
            LoadReport();
        });
        // BindAutocomplete("CARS", "PK_CARSID", "Cars", "150", "150", "");
        BindAutocomplete("SENDORG", "PK_SENDORG", "Supply", "150", "150", "");
        BindAutocomplete("RECEIVEORG", "PK_RECEIVEORG", "Company1", "150", "150", "");
        BindAutocomplete("RECEIVESTORE", "PK_RECEIVESTORE", "Store", "150", "150", "");
        BindAutocomplete("PK_MaterialName", "PK_Material", "Material", "150", "150", "");

    })

    function LoadReport() {
        var Report = "";
        var Data = "/ReportManager/PrintViewReport/PurchaseDataSetReport";
        //报表显示查询条件
        var Parm_Key_Name = GetParm_Key_Name();
        var start_Date = $("#bdate").val();
        var end_Date = $("#edate").val();
        var ReportName = $("#reporttype").find("option:selected").text();

        //报表参数对应值
        var Parameter = "title,Query,start_Date,end_Date|String,String,String,String|" + Company + ReportName + "," + Parm_Key_Name + "," + start_Date + "," + end_Date;
        //查询条件
        var Parm_Key_Value = GetParm_Key_Value();
        var DateType = $("#DATETYPE").val();
        var ReportType = $("#reporttype").val();

      if (ReportType == "9010") {
            Report = "PurchaseReport/KMZJReport.grf";
            Data = "/ReportManager/PrintViewReport/PurchaseDataSetReport";
        }

        var path = "/ReportManager/PrintViewReport/DisplayViewReportIndex?Report=" + Report + "&Data=" + Data + "&ReportName=" + escape(ReportName);
        path += "&Parm_Key_Value=" + escape(Parm_Key_Value) + escape("reporttype☻" + ReportType + "☻true≌") + escape("DateType☻" + DateType + "☻true");
        path += "&Parameter=" + escape(Parameter);
        $("#iframeReport").attr("src", path);
    }


    //查询条件PK值
    function GetParm_Key_Value() {
        var Parm_Key_Value = "";
        $(".form-find tr td").find("[DBField=true]").each(function () {
            var pk_id = $(this).attr('id');
            var pk_value = $("#" + pk_id).val();
            if (pk_value != "") {
                var like = $(this).attr('like');
                Parm_Key_Value += pk_id + "☻" + (pk_value == null ? "" : pk_value) + "☻" + like + "≌";
            }
        });
        return Parm_Key_Value
    }

    //查询条件名称值
    function GetParm_Key_Name() {
        var Parm_Key_Name = "";
        $(".form-find tr td").find("[DBField=true]").each(function () {
            var type = this.type;
            var pk_id = $(this).attr('id');
            var pk_value = "";
            if (type == "hidden") {
                pk_value = $("#" + pk_id + "Name").val();
            } else {
                pk_value = $("#" + pk_id).val();
            }
            if (pk_value != "" && pk_value != undefined && pk_value != 'undefined' && pk_id != "bdate" && pk_id != "edate" && pk_id != "reporttype") {
                if (Parm_Key_Name == "") {
                    Parm_Key_Name += pk_value;
                } else {
                    Parm_Key_Name += "-" + pk_value;
                }
            }
        });
        return Parm_Key_Name;
    }

    function SelectMaterialType() {
        $("#iframeReport").hide();
        var url = "/Utility/SelectMaterialType";
        openMyDialog(url, "Form11111", "选取物料分类信息", 800, 380,
             function (iframe) {
                 top.frames[iframe].SelectText("PK_MARBASCLASSNAME", "PK_MARBASCLASS");
                 $("#iframeReport").show();
             }, function (iframe) {
                 top.frames[iframe].ClearText("PK_MARBASCLASSNAME", "PK_MARBASCLASS");
                 $("#iframeReport").show();
             });
    }

    function SelectMaterial() {
        $("#iframeReport").hide();
        var PK_MARBASCLASS = $("#PK_MARBASCLASS").val();
        var url = "/Utility/SelectMaterialMore";
        if (PK_MARBASCLASS != "") {
            url += "?matclass=" + PK_MARBASCLASS;
        }
        openMyDialog(url, "Form11111", "选取物料信息", 800, 380,
             function (iframe) {
                 top.frames[iframe].SelectText("PK_MaterialName", "PK_Material");
                 $("#iframeReport").show();
             }, function (iframe) {
                 top.frames[iframe].ClearText("PK_MaterialName", "PK_Material");
                 $("#iframeReport").show();
             });
    }

    function SelectDept(txtname, txtid, title) {
        $("#iframeReport").hide();
        var url = "/Utility/SelectDept";
        openMyDialog(url, "Form11111", title, 800, 380,
             function (iframe) {
                 top.frames[iframe].SelectText(txtname, txtid);
                 $("#iframeReport").show();
             }, function (iframe) {
                 top.frames[iframe].ClearText(txtname, txtid);
                 $("#iframeReport").show();
             });
    }

</script>
<div id="layoutA" class="layout">
    <!--左边-->
    <div class="layoutPanel layout-west">
        <div class="QueryArea">
            <table border="0" class="form-find" style="height: 45px;">
                <tr>
                    <th>
                        报表类型：
                    </th>
                    <td colspan="2">
                        <select id="reporttype" name="reporttype" class="select" style="width: 140px;">
                            <option value="9010">科迈原料收货逐车明细</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        过磅单号：
                    </th>
                    <td colspan="2">
                        <input id="BillNo" type="text" class="txt" style="width: 135px" dbfield="true" like="true" />
                    </td>
                </tr>
                <tr>
                    <th>
                        采购订单：
                    </th>
                    <td colspan="2">
                        <input id="PK_CONTRACT_B" type="text" class="txt" style="width: 135px" dbfield="true"
                               like="true" />
                    </td>
                </tr>
                <tr>
                    <th>
                        批次号：
                    </th>
                    <td colspan="2">
                        <input id="BATCHNO" type="text" class="txt" style="width: 135px" dbfield="true" like="true" />
                    </td>
                </tr>
                <tr>
                    <th>
                        工厂：
                    </th>
                    <td colspan="2">
                        <input id="PK_RECEIVEORG" type="hidden" dbfield="true" like="false" />
                        <input id="RECEIVEORG" type="text" class="txt" style="width: 135px" />
                    </td>
                </tr>
                <tr>
                    <th>
                        供应商：
                    </th>
                    <td colspan="2">
                        <input id="PK_SENDORG" type="hidden" dbfield="true" like="false" />
                        <input id="SENDORG" type="text" class="txt" style="width: 135px" />
                    </td>
                </tr>
                <tr>
                    <th>
                        卸货地点：
                    </th>
                    <td colspan="2">
                        <input id="PK_RECEIVESTORE" type="hidden" dbfield="true" like="false" />
                        <input id="RECEIVESTORE" type="text" class="txt" style="width: 135px" />
                    </td>
                </tr>
                <tr>
                    <th>
                        车号：
                    </th>
                    <td colspan="2">
                        <input id="CARS" type="text" class="txt" style="width: 135px" dbfield="true" like="true" />
                    </td>
                </tr>
                <tr>
                    <th>
                        物料：
                    </th>
                    <td colspan="2">
                        <input id="PK_Material" type="hidden" dbfield="true" like="false" />
                        <input id="PK_MaterialName" type="text" class="txt" style="width: 135px" />
                    </td>
                </tr>
                <tr>
                    <th>
                        日期类型：
                    </th>
                    <td colspan="2">
                        <select id="DATETYPE" name="DATETYPE" class="select" style="width: 140px;">
                            @*<option value="1">轻车时间</option>*@
                            <option value="2" selected="selected">重车时间</option>
                            <option value="3">确认时间</option>
                            <option value="5">派车时间</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        开始时间：
                    </th>
                    <td colspan="2">
                        <input id="bdate" type="text" class="txt Wdate" style="width: 135px" value="@DateTime.Now.ToString("yyyy-MM-dd 00:00:00")"
                               onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd HH:mm:ss&#39;})" dbfield="true" like="false" />
                    </td>
                </tr>
                <tr>
                    <th>
                        结束时间：
                    </th>
                    <td colspan="2">
                        <input id="edate" type="text" class="txt Wdate" style="width: 135px" value="@DateTime.Now.ToString("yyyy-MM-dd 23:59:59")"
                               onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd HH:mm:ss&#39;})" dbfield="true" like="false" />
                    </td>
                </tr>
                <tr>
                    <th>
                        单据/状态：
                    </th>
                    <td>
                        <select id="COMPUTERTYPE" name="COMPUTERTYPE" class="select" style="width: 60px;"
                                dbfield="true" like="false">
                            <option value="0">---请选择---</option>
                            <option value="11">正常</option>
                            <option value="99">作废</option>
                            <option value="12">补增</option>
                            <option value="112">退货</option>
                            <option value="122">原车退货</option>
                            <option value="123">降级</option>
                            <option value="13">参照</option>
                            <option value="15">强制出厂</option>
                        </select>
                    </td>
                    <td>
                        <select id="FINISH" name="FINISH" class="select" dbfield="true" like="false" style="width: 60px;">
                            <option value="">---请选择---</option>
                            <option value="0">一次计量</option>
                            <option value="1">二次计量</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        过账/移库：
                    </th>
                    <td>
                        <select id="GZUPLOAD" name="GZUPLOAD" class="select" dbfield="true" like="false" style="width: 60px;">
                            <option value="">---请选择---</option>
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </td>
                    <td>
                        <select id="YKUPLOAD" name="YKUPLOAD" class="select" dbfield="true" like="false" style="width: 60px;">
                            <option value="">---请选择---</option>
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>
                    </th>
                    <td colspan="2">
                        <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="LoadReport()" />
                        <input id="btnClear" type="button" class="btnSearch" value="清 空" onclick="ClearValue()" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--中间-->
    <div class="layoutPanel layout-center">
        <iframe id="iframeReport" src="" scrolling="auto" frameborder="0" scrolling="no"
                width="100%" height="100%"></iframe>
    </div>
</div>
