@{
    ViewBag.Title = "炼铁质检报告";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    var Company = "@ViewBag.Company";
    $(function () {
        $("#layoutA").splitter({
            type: "v",
            outline: true,
            minLeft: 235, sizeLeft: 235, maxLeft: 235,
            anchorToWindow: true,
            accessKey: "L"
        });
        //LoadReport();
        $("#reporttype").bind("change", function () {
            reporttypeChange($("#reporttype").val());
        });
        reporttypeChange($("#reporttype").val());

    })
    function reporttypeChange(reporttypeval) {
        //reporttypeval = reporttypeval.split('_')[0];
        if(reporttypeval=="900003_1"){
            //汽运原料
            $("#MATERIALTYPE").empty();
            $("#MATERIALTYPE").append("<option value='1001A11000000006O4G7-PK_PARENT'>粉矿</option>");
            $("#MATERIALTYPE").append("<option value='1001A11000000006O4G8-PK_PARENT'>块矿</option>");
            $("#MATERIALTYPE").append("<option value='1001A11000000006O4G9-PK_PARENT'>球团</option>");
            $("#MATERIALTYPE").append("<option value='1001A11000000006ZIJT-PK_PARENT'>喷煤</option>");
            $("#MATERIALTYPE").append("<option value='1001A11000000006ZIJV-PK_PARENT'>焦粉</option>");
            $("#MATERIALTYPE").append("<option value='1001A11000000006ZP0B-PK_PARENT'>熔剂</option>");
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KP0-PK_PARENT'>石灰石粉</option>");
            $("#MATERIALTYPE").append("<option value='1001A11000000006ZIJW-PK_PARENT'>冶金焦</option>");
            $("#MATERIALTYPE").append("<option value='1001A11000000006ZP0A-PK_PARENT'>炉料辅料</option>"); 
        }
        else if (reporttypeval == "900003_2" ){
            //火运原料
            $("#MATERIALTYPE").empty();
            $("#MATERIALTYPE").append("<option value='1001A11000000006O4G7-PK_PARENT'>粉矿</option>");
            $("#MATERIALTYPE").append("<option value='1001A11000000006O4G8-PK_PARENT'>块矿</option>");
            $("#MATERIALTYPE").append("<option value='1001A11000000006O4G9-PK_PARENT'>球团</option>");
        }  
        else if (reporttypeval == "900009_1") {
            //汽运转序
            $("#MATERIALTYPE").empty();
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KOW-PK_PARENT'>活性粉灰</option>");
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KOZ-PK_PARENT'>轻烧白云石粉</option>"); 
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KP2-PK_PARENT'>焦粉</option>");
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KP3-PK_PARENT'>焦粒</option>"); 
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KPI-PK_PARENT'>渣钢</option>"); 
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KPJ-PK_PARENT'>氧化铁皮</option>"); 
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KPK-PK_PARENT'>钢泥</option>"); 
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KPM-PK_PARENT'>筛下物</option>"); 
            $("#MATERIALTYPE").append("<option value='1001A11000000006O4G8-PK_PARENT'>块矿</option>");
            $("#MATERIALTYPE").append("<option value='1001A11000000006ZLPI-ID'>外购焦粉</option>");
            $("#MATERIALTYPE").append("<option value='1001A1100000000LV52V-ID'>焦炭（瑞达）</option>"); 
        }
        else if (reporttypeval == "900009_2") {
            //皮带秤转序
            $("#MATERIALTYPE").empty();
            $("#MATERIALTYPE").append("<option value='1001A11000000006O4G7-PK_PARENT'>粉矿</option>");
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KP1-PK_PARENT'>焦炭</option>");
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KP5-PK_PARENT'>烧结矿</option>");
            $("#MATERIALTYPE").append("<option value='1001AA100000001G1223-PK_PARENT'>回收含铁杂料</option>");
            //$("#MATERIALTYPE").append("<option value='1001A1100000000L6KOP-PK_PARENT'>回收含铁杂料</option>"); 
        } 
        else if (reporttypeval == "900009_3") {
            //铁水罐转序
            $("#MATERIALTYPE").empty();
            $("#MATERIALTYPE").append("<option value='1001A1100000000LV53Q-ID'>铁水</option>");
        }
        else if (reporttypeval == "900009_4") {
            //铁水炉转序
            $("#MATERIALTYPE").empty();
            $("#MATERIALTYPE").append("<option value='1001A1100000000LV53Q-ID'>铁水</option>");
        }
        else if (reporttypeval == "900013") {
            //转序短流程
            $("#MATERIALTYPE").empty(); 
            $("#MATERIALTYPE").append("<option value='1001A11000000006ZIJT-PK_PARENT'>煤粉</option>");//实际为喷煤
            $("#MATERIALTYPE").append("<option value='1001A1100000000LV6SX-ID'>高炉渣</option>");//实际为水渣
            $("#MATERIALTYPE").append("<option value='1001A11000000006O4G7-PK_PARENT'>粉矿</option>");
            $("#MATERIALTYPE").append("<option value='1001A11000000006O4G8-PK_PARENT'>块矿</option>");
            $("#MATERIALTYPE").append("<option value='1001A1100000000L6KPF-PK_PARENT'>除尘灰</option>");//炼铁的除尘灰

        }
    }
    function LoadReport() {
        var Report = "";
        var Data = "/ReportManager/PrintViewReport/ZJReport";
        //报表显示查询条件
        var Parm_Key_Name = GetParm_Key_Name();
        var start_Date = $("#bdate").val();
        var end_Date = $("#edate").val();
        var ReportName = $("#reporttype").find("option:selected").text();
        //报表参数对应值
        var Parameter = "title,Query,start_Date,end_Date|String,String,String,String|" + Company + ReportName + "," + Parm_Key_Name + "," + start_Date + "," + end_Date;
        //查询条件
        var Parm_Key_Value = GetParm_Key_Value();

        var ReportType = $("#reporttype").val();

        Report = "ZJReport/ZJDeptReport/ZJDeptResultReport.grf";
        Data = "/ReportManager/PrintViewReport/GetZJDeptResultData";
        var url = "ZJDeptResultCreateIndex";

        var path = "/ReportManager/PrintViewReport/" + url + "?Report=" + Report + "&Data=" + Data;
        path += "&Parm_Key_Value=" + escape(Parm_Key_Value) + escape("reporttype☻" + ReportType + "☻true");
        path += "&Parameter=" + escape(Parameter);
        path += "&reporttype=" + escape($("#reporttype").val());
        $("#iframeReport").attr("src", path);
    }
    //查询条件PK值
    function GetParm_Key_Value() {
        var Parm_Key_Value = "";
        $(".form-find tr td").find("[DBField=true]").each(function () {
            var pk_id = $(this).attr('id');
            var pk_value = $("#" + pk_id).val();
            if (IsNull(pk_value)) {
                var like = $(this).attr('like');
                //Parm_Key_Value += pk_id + "☻" + (pk_value == null ? "" : pk_value) + "☻" + like + "≌";
                if(pk_id=="MATERIALTYPE"){
                    pk_value.split('-')[1]
                    Parm_Key_Value +=  "MATERIALTYPE☻" + pk_value.split('-')[0] + "☻" + "≌";
                    Parm_Key_Value +=  "MATERIALTYPE_TYPE☻" + pk_value.split('-')[1] + "☻" + "≌";
                } else {
                    Parm_Key_Value += pk_id + "☻" + (pk_value == null ? "" : pk_value) + "☻" + like + "≌";
                }
            }
        });
        return Parm_Key_Value
    }
    //查询条件名称值
    function GetParm_Key_Name() {
        var Parm_Key_Name = "";
        $(".form-find tr td").find("[DBField=true]").each(function () {
            var pk_id = $(this).attr('id');
            var pk_value = $("#" + pk_id).val();
            if (pk_value != "" && pk_value != undefined && pk_value != 'undefined' && pk_id != "bdate" && pk_id != "edate" && pk_id != "reporttype") {
                if (Parm_Key_Name == "") {
                    Parm_Key_Name += pk_value;
                } else {
                    Parm_Key_Name += "-" + pk_value;
                }
            }
        });
        return Parm_Key_Name;
    }
</script>
<div id="layoutA" class="layout">
    <!--左边-->
    <div class="layoutPanel layout-west">
        <div class="QueryArea">
            <table border="0" class="form-find" style="height: 45px;">
                <tr>
                    <th>
                        报表类型：
                    </th>
                    <td>
                        <select id="reporttype" name="reporttype" class="select" style="width: 140px;" dbfield="true">
                            <option value="900003_1">汽运原料质检报告</option>
                            <option value="900003_2">火运原料质检报告</option>  
                            <option value="900009_1">汽运转序质检报告</option>
                            <option value="900009_2">皮带秤转序质检报告</option> 
                            <option value="900009_3">铁水罐转序质检报告</option>
                            <option value="900009_4">铁水炉转序质检报告</option>
                            <option value="900013">转序短流程质检报告</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        物料类型：
                    </th>
                    <td>
                        <select id="MATERIALTYPE" name="MATERIALTYPE" class="select" style="width: 140px;"
                                dbfield="true"></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        开始时间：
                    </th>
                    <td>
                        <input id="bdate" type="text" class="txt Wdate" style="width: 135px" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd 00:00:00")"
                               onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd 00:00:00&#39;})" dbfield="true" like="false" />
                    </td>
                </tr>
                <tr>
                    <th>
                        结束时间：
                    </th>
                    <td>
                        <input id="edate" type="text" class="txt Wdate" style="width: 135px" value="@DateTime.Now.ToString("yyyy-MM-dd 23:59:59")"
                               onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd 23:59:59&#39;})" dbfield="true" like="false" />
                    </td>
                </tr>
                <tr>
                    <th>
                    </th>
                    <td>
                        <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="LoadReport()" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--中间-->
    <div class="layoutPanel layout-center">
        <iframe id="iframeReport" src="" scrolling="auto" frameborder="0" scrolling="no"
                width="100%" height="100%"></iframe>
    </div>
</div>
