@{
    ViewBag.Title = "PCBillSOFQuery";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
   
    $(function () {
        BindAutocomplete("ORGNAME", "PK_ORG", "Company1", "200", "150", "");
        BindComBoxTree("matclassname", "matclass", "200", "/BaseSet/Material/TreeJson");
        BindAutocomplete("CarsName", "Cars", "Cars", "200", "150", "");
        BindAutocomplete("MaterialName", "Material", "Material", "200", "150", "");
        BindAutocomplete("SupplyName", "Supply", "Supply", "200", "150", "");
        BindAutocomplete("TRAFFICCOMPANYNAME", "TRAFFICCOMPANY", "TrafficCompany", "", "", "");
        BindAutocomplete("DEPTNAME", "PK_DEPT", "Department", "200", "150", "");
    })
    //获取条件 
    function GetConditionURL() {
        var url = "";
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BillNo = $("#BillNo").val();
        var VBillCode = $("#VBILLCODE").val();
        var Supply = $("#Supply").val();
        var Cars = $("#Cars").val();
        var Material = $("#Material").val();
        var matclass = $("#matclass").val();
        var ISUSE = $("#ISUSE").val();
        var CREATEUSER = $("#CREATEUSER").val();
        var DEF1 = $("#DEF1").val();
        var PK_ORG = $("#PK_ORG").val();
        var PK_DEPT = $("#PK_DEPT").val();
        var TRAFFICCOMPANY = $("#TRAFFICCOMPANY").val();
        var PSDNO = $("#PSDNO").val();

        url += "&StartTime=" + StartTime + "&EndTime=" + EndTime + "&BillNo=" + BillNo;
        url += "&VBillCode=" + VBillCode + "&Cars=" + Cars + "&Material=" + Material;
        url += "&Supply=" + Supply + "&ISUSE=" + ISUSE + "&matclass=" + matclass;
        url += "&CREATEUSER=" + escape(CREATEUSER) + "&DEF1=" + DEF1;
        url += "&PK_ORG=" + PK_ORG + "&PK_DEPT=" + PK_DEPT + "&TRAFFICCOMPANY=" + TRAFFICCOMPANY;
        url += "&PSDNO=" + PSDNO;
        return url;
    }

    //回调查询确认事件
    function QueryClick(callBack) {
        callBack(GetConditionURL());
        closeDialog();
    }
</script>
<div class="QueryArea">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>
                开始时间：
            </th>
            <td>
                <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-7)" style="width: 200px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
            </td>
            <th>
                结束时间：
            </th>
            <td>
                <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 200px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
            </td>
        </tr>
        <tr>
            <th>
                工厂：
            </th>
            <td>
                <input id="PK_ORG" type="hidden" />
                <input id="ORGNAME" type="text" class="txt" style="width: 200px" />
            </td>
            <th>
                接收组织：
            </th>
            <td>
                <input id="PK_DEPT" type="hidden" />
                <input id="DEPTNAME" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                供应商：
            </th>
            <td>
                <input id="Supply" type="hidden" />
                <input id="SupplyName" type="text" class="txt" style="width: 200px" />
            </td>
            <th>
                入厂厂区：
            </th>
            <td>
                <select id="DEF1" class="txt select" style="width: 205px">
                    <option value="">---请选择---</option>
                    <option value="1000">阳光纸业</option>
                    <option value="6000">盛世热电</option>
                    <option value="7000">新迈纸业</option>
                    <option value="8000">阳光王子</option>
                    <option value="9000">华迈纸业</option>
                    <option value="9010">科迈制浆</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                物料分类：
            </th>
            <td>
                <input id="matclass" type="hidden" />
                <input id="matclassname" type="text" class="txt" style="width: 200px" />
            </td>
            <th>
                物料：
            </th>
            <td>
                <input id="Material" type="hidden" />
                <input id="MaterialName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                承运商：
            </th>
            <td>
                <input id="TRAFFICCOMPANY" type="hidden" />
                <input id="TRAFFICCOMPANYNAME" type="text" class="txt" style="width: 200px" />
            </td>
            <th>
                车号：
            </th>
            <td>
                <input id="Cars" type="hidden" />
                <input id="CarsName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                到货单号：
            </th>
            <td>
                <input id="BillNo" type="text" class="txt" style="width: 200px" />
            </td>
            <th>
                订单编号：
            </th>
            <td>
                <input id="VBILLCODE" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                状态：
            </th>
            <td>
                <select id="ISUSE" class="select" style="width: 205px;">
                    <option value="">---请选择---</option>
                    <option value="1">未入厂</option>
                    <option value="5">发卡</option>
                    <option value="7">入厂</option>
                    <option value="6">出厂</option>
                    <option value="4">作废</option>
                </select>
            </td>
            <th>
                身份证：
            </th>
            <td>
                <input id="PSDNO" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                制单人：
            </th>
            <td>
                <input id="CREATEUSER" type="text" class="txt" style="width: 200px" />
            </td>
            <td colspan="2">
            </td>
        </tr>
    </table>
</div>
