@{
    ViewBag.Title = "司机管理》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        BindAutocomplete("PK_CARRIERNAME", "PK_CARRIER", "TrafficCompany", "200", "120", "");
        $("#NAME").keyup(function () {
            $("#SHORTNAME").val(this.value);
        });

        InitControl();

    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseSet/QualityPerson/SetFormControl", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/BaseSet/QualityPerson/SubmitOrderForm?KeyValue=" + GetQuery('KeyValue') + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
<div id="message" style="display: none">
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            验级员姓名：
        </th>
        <td class="formValue">
            <input id="WORKER_NAME" type="text" class="txt required" datacol="yes" err="验级员姓名" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            验级员工号：
        </th>
        <td class="formValue">
            <input id="WORKER_ID" type="text" class="txt required" datacol="yes" err="验级员工号" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            选项：
        </th>
        <td class="formValue" colspan="3">
            <span class="item">
                <input type="checkbox" name="checkbox" checked="checked" id="VALID" />
                <label for="VALID">
                    有效
                </label>
            </span>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            选项：
        </th>
        <td class="formValue" colspan="3">
            <span class="item">
                <input type="checkbox" name="checkbox" checked="checked" id="SAMPLING" />
                <label for="SAMPLING">
                    采样
                </label>
            </span>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            选项：
        </th>
        <td class="formValue" colspan="3">
            <span class="item">
                <input type="checkbox" name="checkbox" checked="checked" id="CHECK_GRADE" />
                <label for="CHECK_GRADE">
                    验级
                </label>
            </span>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            选项：
        </th>
        <td class="formValue" colspan="3">
            <span class="item">
                <input type="checkbox" name="checkbox" checked="checked" id="SAMPLING_CHECK_GRADE" />
                <label for="SAMPLING_CHECK_GRADE">
                    采样+验级
                </label>
            </span>
        </td>
    </tr>
</table>
</form>
