@{
    ViewBag.Title = "StoreSortForm";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        InitControl();
        MaterialAutocomplete();
    })
    function MaterialAutocomplete() {
        var txtname = "NAME";
        var $txtid = $("#ID");
        var $txtname = $("#NAME");
        var $txtshortname = $("#SHORTNAME");
        var $txtcode = $("#CODE");
        var $txtspellcode = $("#SPELLCODE");
        var width = "200";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtid.val(data.id);
            $txtname.val(data.name);
            $txtshortname.val(data.shortname);
            $txtcode.val(data.code);
            $txtspellcode.val(data.spellcode);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/Material", { keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="id" style="display: none;">' + DataJson[i].id + '</td>';
                    html += '<td id="code" style="display: none;">' + DataJson[i].code + '</td>';
                    html += '<td id="name" style="width: 100%;">' + DataJson[i].name + '</td>';
                    html += '<td id="shortname" style="display: none;">' + DataJson[i].shortname + '</td>';
                    html += '<td id="spellcode" style="display: none;">' + DataJson[i].spellcode + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtid.val(data.id);
                    $txtname.val(data.name);
                    $txtshortname.val(data.shortname);
                    $txtcode.val(data.code);
                    $txtspellcode.val(data.spellcode);
                });
            });
        }
    }

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseSet/MaterialSort/SetFormControl", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
                $("#Password").val("******");
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/BaseSet/MaterialSort/SubmitOrderForm?KeyValue=" + GetQuery('KeyValue') + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
</script>
<form id="form1">
<div id="message" style="display: none; padding: 1px; padding-bottom: 0px;">
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            物料：
        </th>
        <td class="formValue">
            <input id="ID" type="hidden" />
            <input id="CODE" type="hidden" />
            <input id="SPELLCODE" type="hidden" />
            <input id="SHORTNAME" type="hidden" />
            <input id="NAME" type="text" class="txt required" datacol="yes" err="物料" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            扣吨：
        </th>
        <td class="formValue">
            <input id="SORTID" type="text" class="txt required" datacol="yes" err="排序" checkexpession="NotNull"
                value="0" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
        </th>
        <td class="formValue" colspan="3">
            <span class="item">
                <input id="ISUSE" name="ISUSE" type="checkbox" checked="checked" style="vertical-align: middle;" />
                <label for="ISUSE" style="vertical-align: middle;">
                    有效</label>
            </span>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            说明：
        </th>
        <td class="formValue" colspan="3">
            <textarea id="MEMO" class="txtArea" rows="6"></textarea>
        </td>
    </tr>
</table>
