@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        $("#NAME").keyup(function () {
            $("#SHORTNAME").val(this.value);
        });
        BindAutocomplete("DEF4", "DEF3", "Dictionary", "", "", "");//车间
        InitControl();
    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseSet/STORE/SetFormControl", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/BaseSet/STORE/SubmitOrderForm?KeyValue=" + GetQuery('KeyValue') + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none">
    </div>
    <table class="form">
        <tr>
            <th class="formTitle">
                编号：
            </th>
            <td class="formValue">
                <input id="ID" type="text" class="txt required" datacol="yes" err="内码" checkexpession="NotNull" value="@ViewBag.Code" />
            </td>
            <th class="formTitle">
                内码：
            </th>
            <td class="formValue">
                <input id="CODE" type="text" class="txt" datacol="yes" err="内码" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                名称：
            </th>
            <td class="formValue">
                <input id="NAME" type="text" class="txt required" datacol="yes" err="名称" checkexpession="NotNull" />
            </td>
            <th class="formTitle">
                简称：
            </th>
            <td class="formValue">
                <input id="SHORTNAME" type="text" class="txt required" datacol="yes" err="简称" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                公司编码：
            </th>
            <td class="formValue">
                <input id="PK_ORG" type="text" class="txt required" datacol="yes" err="公司编码" checkexpession="NotNull" />
            </td>
            <th class="formTitle">
                排序：
            </th>
            <td class="formValue">
                <input id="SORTCODE" type="text" class="txt" datacol="no" err="排序" checkexpession="DoubleOrNull"
                       maxlength="5" onkeyup="clearNoNum(this)" value="0" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                车间：
            </th>
            <td class="formValue">
                <input id="DEF3" type="hidden" dbfield="true" datacol="No"
                       err="请您选择车间" checkexpession="NotNull" />
                <input id="DEF4" type="text" class="txt" datacol="No" err="车间"
                       checkexpession="NotNull" dbfield="true" items="车间" />
            </td>
            <th class="formTitle">
                类型：
            </th>
            <td class="formValue">
                <select id="TYPE" class="txtselect">
                    <option value="">---请选择---</option>
                    <option value="0" selected="selected">采购仓库</option>
                    <option value="1">验级地点</option>
                    <option value="2">销售仓库</option>
                    <option value="3">采购垛堆</option>
                </select>
            </td>

        </tr>
        <tr>
            <th class="formTitle">
                垛分类：
            </th>
            <td class="formValue">
                <select id="DEF2" class="txtselect">
                    <option value="">---请选择---</option>
                    <option value="0" selected="selected">普通垛</option>
                    <option value="1">直进垛</option>
                    <option value="2">线边库</option>
                </select>
            </td>
            <th class="formTitle">
                选项：
            </th>
            <td class="formValue">
                <span class="item">
                    <input type="checkbox" name="checkbox" checked="checked" id="DEF1" />
                    <label for="DEF1">
                        去向
                    </label>
                </span>
                <span class="item">
                    <input type="checkbox" name="checkbox" checked="checked" id="ISUSE" />
                    <label for="ISUSE">
                        有效
                    </label>
                </span>
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                描述：
            </th>
            <td class="formValue" colspan="3">
                <textarea id="MEMO" name="Description" maxlength="200" class="txtArea" rows="5"></textarea>
            </td>
        </tr>
    </table>
</form>
