@{
    ViewBag.Title = "司机管理》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        BindAutocomplete("PK_CARRIERNAME", "PK_CARRIER", "TrafficCompany", "200", "120", "");
        $("#NAME").keyup(function () {
            $("#SHORTNAME").val(this.value);
        });

        InitControl();

    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseSet/Drivers/SetFormControl", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/BaseSet/Drivers/SubmitOrderForm?KeyValue=" + GetQuery('KeyValue') + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
<div id="message" style="display: none">
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            内码：
        </th>
        <td class="formValue">
            <input id="CODE" type="text" class="txt required" datacol="yes" err="内码" checkexpession="NotNull"  value="@ViewBag.Code"  readonly="readonly"/>
        </td>
        <th class="formTitle">
            名称：
        </th>
        <td class="formValue">
            <input id="NAME" type="text" class="txt required" datacol="yes" err="名称" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            简称：
        </th>
        <td class="formValue">
            <input id="SHORTNAME" type="text" class="txt required" datacol="yes" err="简称" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            身份证号：
        </th>
        <td class="formValue">
            <input id="IDNUM" type="text" class="txt required" datacol="yes" err="身份证号" checkexpession="IDCard" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            手机：
        </th>
        <td class="formValue">
            <input id="TEL" type="text" class="txt" datacol="yes" err="手机" checkexpession="Mobile" />
        </td>
        <th class="formTitle">
            从业资格证号：
        </th>
        <td class="formValue">
            <input id="DRIVERCPA" type="text" class="txt required" datacol="No" err="从业资格证号"
                checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            所属承运商：
        </th>
        <td class="formValue">
            <input id="PK_CARRIER" type="hidden" datacol="yes" err="所属承运商" checkexpession="NotNull" />
            <input id="PK_CARRIERNAME" type="text" class="txt icontree" datacol="yes" err="所属承运商"
                checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            准驾车型：
        </th>
        <td class="formValue">
            <select id="CLASS" class="txtselect" datacol="No" err="准驾车型" checkexpession="NotNull">
                <option value="">---请选择---</option>
                <option value="A1">A1</option>
                <option value="A2">A2</option>
                <option value="A3">A3</option>
                <option value="B1">B1</option>
                <option value="B2">B2</option>
                <option value="C1">C1</option>
                <option value="C2">C2</option>
                <option value="C3">C3</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            选项：
        </th>
        <td class="formValue" colspan="3">
            <span class="item">
                <input type="checkbox" name="checkbox" checked="checked" id="ISUSE" />
                <label for="ISUSE">
                    有效</label>
            </span>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            驾驶证号：
        </th>
        <td class="formValue">
            <input id="DRIVERLIC" type="text" class="txt required" datacol="No" err="驾驶证号" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            黑名单：
        </th>
        <td class="formValue">
            <select id="ISBLACK" class="txtselect">
                <option value="0" selected="selected">否</option>
                <option value="1">是</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            描述：
        </th>
        <td class="formValue" colspan="3">
            <textarea id="MEMO" name="Description" maxlength="200" class="txtArea" rows="1"></textarea>
        </td>
    </tr>
</table>
</form>
