@{
    ViewBag.Title = "火运收货》编辑";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue'); //主键
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        /*JQuery 限制文本框只能输入数字和小数点*/
        $(".NumDecText").keyup(function () {
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
            var suttle = $('#SUTTLE').val();
        }).bind("paste", function () {  //CTR+V事件处理    
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).css("ime-mode", "disabled"); //CSS设置输入法不可用    
        //仓库
        BindAutocomplete("STORE", "PK_STORE", "Store", "", "", "");
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!KeyValue) {
            AjaxJson("/ExampleModule/HYRECMATERIA/SetFormControl", { KeyValue: KeyValue, ModuleId: ModuleId }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //确认收货事件
    function QuenRenOrderForm() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        confirmDialog('提示', '注：您确认要收货编辑操作吗？', function (r) {
            if (r) {
                Loading(true, "正在提交数据...");
                window.setTimeout(function () {
                    var Pk_Store = $("#PK_STORE").val(); //仓库PK
                    var Store = $("#STORE").val(); //仓库
                    if (Pk_Store == "" || Pk_Store == null) {
                        tipDialog("请选择收货仓库！", 2, 0);
                    }
                    var postData = GetWebControls("#form1");
                    AjaxJson("/ExampleModule/HYRECMATERIA/PCRawHYSave?KeyValue=" + GetQuery('KeyValue') + "&Pk_Store=" + Pk_Store + "&Store=" + escape(Store), postData, function (data) {
                        tipDialog(data.Message, 3, data.Code);
                        Replace(); //刷新本页面
                    });
                }, 200);
            }
        });
    }
</script>
<form id="form1" style="margin: 1px">
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新</b></span></a> <a id="button_Commit_Save" title="确认火运收货" onclick="QuenRenOrderForm()" class="tools_btn">
                <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/database_save.png")) 50% 4px no-repeat;">
                    确认保存</b></span></a><a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                        <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                            离开</b></span></a>
</div>
<div class="bd" style="border-bottom: none; margin: 2px;">
    <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
        <div class="tab_list_top" style="position: absolute">
            <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">
                收料信息</div>
        </div>
    </div>
</div>
<div class="ScrollBar" style="margin: 1px; overflow: hidden;">
    <!--录入信息-->
    <div id="basic" class="tabPanel">
        <table class="form">
            <tr>
                <th class="formTitle">
                    磅单号:
                </th>
                <td class="formValue">
                    <input id="BILLNO" type="text" class="txt readonly" datacol="yes" err="磅单号" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    发货单位：
                </th>
                <td class="formValue">
                    <input id="SENDORG" type="text"  class="txt readonly" readonly="readonly" datacol="yes"
                        err="发货单位" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    物料:
                </th>
                <td class="formValue">
                     <input id="MATERIAL"  type="text" class="txt readonly" readonly="readonly"
                    datacol="yes" err="物料" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    物料规格:
                </th>
                <td class="formValue">
                    <input id="MATERIALSPEC" type="text" class="txt readonly" readonly="readonly" datacol="no"
                        err="物料规格" checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    车列号：
                </th>
                <td class="formValue">
                    <input id="DRIVERS" type="text" class="txt readonly" datacol="yes" err="车列号" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    车厢号：
                </th>
                <td class="formValue">
                    <input id="CARS" type="text" class="txt readonly" readonly="readonly" datacol="yes"
                        err="司机" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    毛重时间：
                </th>
                <td class="formValue">
                    <input id="WEIGHTDATE" type="text" class="txt readonly" readonly="readonly" err="毛重时间"
                        datacol="yes" err="过磅时间" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    毛重(吨):
                </th>
                <td class="formValue">
                    <input id="GROSS" type="text" class="txt readonly" readonly="readonly" err="毛重" checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    皮重时间：
                </th>
                <td class="formValue">
                    <input id="LIGHTDATE" type="text" class="txt readonly" readonly="readonly" />
                </td>
                <th class="formTitle">
                    皮重(吨):
                </th>
                <td class="formValue">
                    <input id="TARE" type="text" class="txt readonly" readonly="readonly" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    净重(吨)：
                </th>
                <td class="formValue">
                    <input id="SUTTLE" type="text" class="txt readonly" readonly="readonly" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    采样时间：
                </th>
                <td class="formValue">
                    <input id="CYTIME" type="text" class="txt readonly" readonly="readonly"/>
                </td>
            </tr>
            <tr>  
                <th class="formTitle">
                    质检扣重：
                </th>
                <td class="formValue">
                    <input id="KZ" type="text" class="txt readonly" readonly="readonly"/>
                </td>
                <th class="formTitle">
                    质检扣水：
                </th>
                <td class="formValue">
                    <input id="KS" type="text" class="txt readonly" readonly="readonly"/>
                </td>
                <th class="formTitle">
                    仓库：
                </th>
                <td class="formValue">
                    <input id="PK_STORE" type="hidden" datacol="yes" err="仓库,勿手动输入" checkexpession="NotNull" />
                    <input id="STORE" type="text" class="txt icontree" datacol="yes" err="请选择仓库" checkexpession="NotNull" />
                </td>
               <th class="formTitle">
                    收货扣重(吨)：
                </th>
                <td class="formValue">
                    <input id="PDAKZ1" type="text" class="txt NumDecText" maxlength="5" datacol="NO"
                        checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    备注：
                </th>
                <td class="formValue" colspan="7">
                    <input id="MEMO" type="text" class="txt" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    <span class="ck_span">提醒：</span>
                </th>
                <td class="formValue" colspan="7">
                    <span class="ck_span">
                        <label id="lbl_msg">
                            无
                        </label>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
</form>
