@{
    ViewBag.Title = "采购过磅查询";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script>

    $(function () {
        BindAutocomplete("CarsName", "Cars", "Cars", "200", "150", "");
        BindAutocomplete("MaterialName", "Material", "Material", "200", "150", "");
        BindAutocomplete("SupplyName", "Supply", "Supply", "200", "150", "");
    })
    //获取条件 
    function GetConditionURL() {
        var url = "";
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BillNo = $("#BillNo").val();
        var DHBillNo = $("#DHBillNo").val();
        var Cars = $("#CarsName").val();
        var Material = $("#MaterialName").val();
        var Supply = $("#Supply").val();
        var ZFFLAG = $("#ZFFLAG").val();

        url += "&StartTime=" + StartTime + "&EndTime=" + EndTime + "&BillNo=" + BillNo;
        url += "&VBillCode=&ContractBillNo=&DHBillNo=" + DHBillNo;
        url += "&Cars=" + escape(Cars) + "&Material=" + escape(Material);
        url += "&Supply=" + escape(Supply);
        url += "&ZFFLAG=" + ZFFLAG;
        return url;
    }
    //回调查询确认事件
    function QueryClick(callBack) {
        callBack(GetConditionURL());
        closeDialog();
    }
</script>
<div class="QueryArea">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>
                开始时间：
            </th>
            <td>
                <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-7)" style="width: 200px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
            </td>
        </tr>
        <tr>
            <th>
                结束时间：
            </th>
            <td>
                <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 200px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
            </td>
        </tr>
        <tr>
            <th>
                车号：
            </th>
            <td>
                <input id="Cars" type="hidden" />
                <input id="CarsName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                物料：
            </th>
            <td>
                <input id="Material" type="hidden" />
                <input id="MaterialName" type="text" class="txt" style="width: 200px" istype="7" />
            </td>
        </tr>
        <tr>
            <th>
                供应商：
            </th>
            <td>
                <input id="Supply" type="hidden" />
                <input id="SupplyName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                过磅单号：
            </th>
            <td>
                <input id="BillNo" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                通知单号：
            </th>
            <td>
                <input id="DHBillNo" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                是否作废：
            </th>
            <td>
                <select id="ZFFLAG" name="ZFFLAG" class="select" style="width: 205px;">
                    <option value="" selected="selected">---请选择---</option>
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </td>
        </tr>
    </table>
</div>
