<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：数据库连接相关配置 ================== -->
  <!--默认数据库软件类型：Oracle,SqlServer,MySql,Access,SQLite-->
  <add key="ComponentDbType" value="Oracle" />
  <!-- 连接字符串是否加密-->
  <add key="ConStringEncrypt" value="false" />
  <!-- ================== 2：这里主要是服务器端配置项内容部分 ================== -->
  <!-- 系统默认登录账户 -->
  <add key="CurrentUserName" value="System" />
  <!-- 系统默认登录密码 -->
  <add key="CurrentPassword" value="4A7D1ED414474E4033AC29CCB8653D9B" />
  <!-- 是否启动服务器缓存-->
  <add key="IsCache" value="true" />
  <!-- 服务器缓存设置时间（分钟）-->
  <add key="TimeCache" value="5" />
  <!-- 最大在线用户数量限制 -->
  <add key="OnLineLimit" value="200" />
  <!-- 允许重复登录,多人用同一帐号同时登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- IP限制验证 -->
  <add key="VerifyIPAddress" value="false" />
  <!-- 是否启动操作日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />

  <add key="STRWERKS" value="1000,7000"/>
  <add key="SAPUser" value="PIUSER"/>
  <add key="SAPPwd" value="Sjyg2018"/>
  <add key="ZJMODELID" value="ab899cbb-7b58-442c-a996-fc58e846f307" />
  <add key="SLMODELID" value="be32ebac-67fd-4e0e-ba0a-a7b3f0861a09" />
  <add key="MESDJURL" value="https://sjygme.sunshinepaper.com.cn:44300/webservicewar/RawMaterialFeedingServiceWSService" />
  <add key="QKLURL" value="http://zhit.sunshinepaper.com.cn:8081/sanshine/api/FzJlSave" />
  <add key="OAURL" value="http://192.168.100.18:8109/eosineToOa" />

</appSettings>