@{
    ViewBag.Title = "轨道衡》轨道衡超限值";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<style>
    .tableobj
    {
        margin: 0px;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .tableobj tbody td
    {
        text-align: left;
        border-right: 1px solid #ccc;
        padding: 1px 1px;
        height: 20px;
        word-break: break-all;
    }
    .tableobj tbody .selected
    {
        background-color: #6699cc;
        color: #fff;
    }
    .buttonHuge
    {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        border-radius: 6px;
        -moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
        -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
        box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
        cursor: pointer;
        display: inline-block;
        font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 16px;
        outline: none !important;
        text-align: center;
        text-decoration: none;
        position: relative;
        -moz-box-sizing: border-box !important;
        line-height: 16px;
        border-radius: 6px;
        behavior: url(/Themes/Styles/ie-css3.htc);
    }
</style>
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    var KeyValue = GetQuery('KeyValue');
    $(function () {
        BindAutocomplete("MATERIALNAME", "MATERIAL", "Material", "200", "150", "");
        InitControl();
    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseSet/JYPConfig/SetFormControl", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/BaseSet/JYPConfig/SubmitOrderForm?KeyValue=" + escape(KeyValue) + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
<div id="message" style="display: none">
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            物料名称：
        </th>
        <td class="formValue">
            <input id="MATERIALNAME" type="text" class="txt required" datacol="yes" err="物料名称"
                checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            物料编号：
        </th>
        <td class="formValue">
            <input id="MATERIAL" type="text" class="txt required" datacol="yes" err="物料编号" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            化验物料简称：
        </th>
        <td class="formValue">
            <input id="MATERIALSHORTNAME" type="text" class="txt required" datacol="yes" err="化验物料简称"
                checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            检验批类型：
        </th>
        <td class="formValue">
            <select id="TIMETYPE" class="txtselect">
                <option value="">---请选择---</option>
                <option value="1">一天一批</option>
                <option value="2">一车一批</option>
                <option value="3">八小时一批</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            生码：
        </th>
        <td class="formValue">
            <input id="BIRTHCODE" type="text" class="txt" />
        </td>
        <th class="formTitle">
            明码：
        </th>
        <td class="formValue">
            <select id="ISMM" class="txtselect" dbfield="true">
                <option value="">---请选择---</option>
                <option value="0">否</option>
                <option value="1">是</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            煤岩开始日期：
        </th>
        <td class="formValue">
            <input id="BEGINDATE" maxlength="50" type="text" class="txt Wdate" dbfield="true"
                onfocus="var BEGINDATE=$dp.$('BEGINDATE');WdatePicker({onpicked:function(){BEGINDATE.focus();},maxDate:'#F{$dp.$D(\'BEGINDATE\')}'})" />
        </td>
        <th class="formTitle">
            煤岩周期天数：
        </th>
        <td class="formValue">
            <input id="BEGINDAY" type="text" class="txt" datacol="yes" err="煤岩周期天数" checkexpession="DoubleOrNull"
                maxlength="5" onkeyup="clearNoNum(this)" value="0" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            选项：
        </th>
        <td class="formValue" colspan="3">
            <span class="item">
                <input type="checkbox" name="checkbox" checked="checked" id="ISCY" />
                <label for="ISCY">
                    采样码</label>
            </span><span class="item">
                <input type="checkbox" name="checkbox" checked="checked" id="ISZY" />
                <label for="ISZY">
                    成份码</label>
            </span><span class="item">
                <input type="checkbox" name="checkbox" checked="checked" id="ISBF" />
                <label for="ISBF">
                    备份码</label>
            </span><span class="item">
                <input type="checkbox" name="checkbox" id="ISSM" />
                <label for="ISSM">
                    水码</label>
            </span><span class="item">
                <input type="checkbox" name="checkbox" id="ISYM" />
                <label for="ISYM">
                    大样码</label>
            </span><span class="item">
                <input type="checkbox" name="checkbox" id="ISGM" />
                <label for="ISGM">
                    活性度</label>
            </span><span class="item">
                <input type="checkbox" name="checkbox" id="ISTP" />
                <label for="ISTP">
                    同检验批</label>
            </span>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
        </th>
        <td class="formValue" colspan="3">
            <span class="item">
                <input type="checkbox" name="checkbox" id="ISMY" />
                <label for="ISMY">
                    烧减</label>
            </span><span class="item">
                <input type="checkbox" name="checkbox" id="ISWL" />
                <label for="ISWL">
                    物理性能</label>
            </span><span class="item">
                <input type="checkbox" name="checkbox" id="ISSS" />
                <label for="ISSS">
                    烧损</label>
            </span><span class="item">
                <input type="checkbox" name="checkbox" id="ISRXN" />
                <label for="ISRXN">
                    热性能</label>
            </span><span class="item">
                <input type="checkbox" name="checkbox" id="ISRZ" />
                <label for="ISRZ">
                    容重</label>
            </span><span class="item">
                <input type="checkbox" name="checkbox" id="ISDDHB" />
                <label for="ISDDHB">
                    掉队合并</label>
            </span>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            采样码打印数：
        </th>
        <td class="formValue">
            <input id="CYNUM" type="text" class="txt" datacol="yes" err="采样码打印数" checkexpession="DoubleOrNull"
                maxlength="2" onkeyup="clearNoNum(this)" value="1" />
        </td>
        <th class="formTitle">
            成份码打印数：
        </th>
        <td class="formValue">
            <input id="ZYNUM" type="text" class="txt" datacol="yes" err="成份码打印数" checkexpession="DoubleOrNull"
                maxlength="2" onkeyup="clearNoNum(this)" value="1" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            备份码打印数：
        </th>
        <td class="formValue">
            <input id="BFNUM" type="text" class="txt" datacol="yes" err="备份码打印数" checkexpession="DoubleOrNull"
                maxlength="2" onkeyup="clearNoNum(this)" value="1" />
        </td>
        <th class="formTitle">
            水码打印数：
        </th>
        <td class="formValue">
            <input id="SMNUM" type="text" class="txt" datacol="yes" err="水码打印数" checkexpession="DoubleOrNull"
                maxlength="2" onkeyup="clearNoNum(this)" value="1" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            大样打印数：
        </th>
        <td class="formValue">
            <input id="YMNUM" type="text" class="txt" datacol="yes" err="大样打印数" checkexpession="DoubleOrNull"
                maxlength="2" onkeyup="clearNoNum(this)" value="1" />
        </td>
        <th class="formTitle">
            活性度打印数：
        </th>
        <td class="formValue">
            <input id="GMNUM" type="text" class="txt" datacol="yes" err="活性度打印数" checkexpession="DoubleOrNull"
                maxlength="2" onkeyup="clearNoNum(this)" value="1" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            烧减打印数：
        </th>
        <td class="formValue">
            <input id="MYNUM" type="text" class="txt" datacol="yes" err="烧减打印数" checkexpession="DoubleOrNull"
                maxlength="2" onkeyup="clearNoNum(this)" value="1" />
        </td>
        <th class="formTitle">
            物理性能打印数：
        </th>
        <td class="formValue">
            <input id="WLNUM" type="text" class="txt" datacol="yes" err="物理性能打印数" checkexpession="DoubleOrNull"
                maxlength="2" onkeyup="clearNoNum(this)" value="1" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            烧损打印数：
        </th>
        <td class="formValue">
            <input id="SSNUM" type="text" class="txt" datacol="yes" err="烧损打印数" checkexpession="DoubleOrNull"
                maxlength="2" onkeyup="clearNoNum(this)" value="1" />
        </td>
        <th class="formTitle">
            热性能打印数：
        </th>
        <td class="formValue">
            <input id="RXNNUM" type="text" class="txt" datacol="yes" err="热性能打印数" checkexpession="DoubleOrNull"
                maxlength="2" onkeyup="clearNoNum(this)" value="1" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            容重打印数：
        </th>
        <td class="formValue">
            <input id="RZNUM" type="text" class="txt" datacol="yes" err="容重打印数" checkexpession="DoubleOrNull"
                maxlength="2" onkeyup="clearNoNum(this)" value="1" />
        </td>
        <th class="formTitle">
            是否按运输队：
        </th>
        <td class="formValue">
            <select id="YSDWFLAG" class="txtselect">
                <option value="">---请选择---</option>
                <option value="Y">是</option>
                <option value="N" selected="selected">否</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            描述：
        </th>
        <td class="formValue" colspan="3">
            <textarea id="MEMO" name="Description" maxlength="200" class="txtArea" rows="1"></textarea>
        </td>
    </tr>
</table>
</form>
