@{
    ViewBag.Title = "Query";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>

    $(function () {
        BindAutocomplete("TrafficCompanyName", "TrafficCompany", "TrafficCompany", "200", "150", "");
        
        BindAutocomplete("DriversName", "Drivers", "Drivers", "200", "150", "");
        BindAutocomplete("CARDNUMBER", "ICCard", "WRegICCard", "200", "150", "");
    })
    //获取条件
    function GetConditionURL() {
        var url = "";
        var Drivers = $("#Drivers").val();
        var ICCard = $("#ICCard").val();
        var TrafficCompany = $("#TrafficCompany").val();
        url += "&Drivers=" + Drivers + "&ICCard=" + ICCard + "&TrafficCompany=" + TrafficCompany;
        return url;
    }
    //回调查询确认事件
    function QueryClick(callBack) {
        callBack(GetConditionURL());
        closeDialog();
    }
</script>
<div class="QueryArea">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>
                卡面编号：
            </th>
            <td>
                <input id="ICCard" type="hidden" />
                <input id="CARDNUMBER" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
 
        <tr>
            <th>
                司机：
            </th>
            <td>
                <input id="Drivers" type="hidden" />
                <input id="DriversName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr><tr>
            <th>
                运输车队：
            </th>
            <td>
                <input id="TrafficCompany" type="hidden" />
                <input id="TrafficCompanyName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
    </table>
</div>

