@{
    ViewBag.Title = "选择采购磅单";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    var TYPE = GetQuery('TYPE');
    var MATERIAL = GetQuery('MATERIAL');
    var MATERIALNAME = GetQuery('MATERIALNAME');
    var WEIGHTNO = GetQuery('WEIGHTNO');
    var WEIGHTNAME = GetQuery('WEIGHTNAME');
    var VBILLCODE = GetQuery('VBILLCODE');
    var SUPPLY = GetQuery('SUPPLY');
    var SUPPLYNAME = GetQuery('SUPPLYNAME');
    var BEGINDATE = GetQuery('BEGINDATE');
    var ENDDATE = GetQuery('ENDDATE');
    var HZUSERNAME = GetQuery('HZUSERNAME');
    $(function () {
        BindComBoxTree("matclassname", "matclass", "200", "/BaseSet/Material/TreeJson");
        BindAutocomplete("CarsName", "Cars", "Cars", "200", "150", "");
        BindAutocomplete("TRAFFICCOMPANYNAME", "TRAFFICCOMPANY", "TrafficCompany", "", "", "");
        BindAutocomplete("MaterialName", "Material", "Material", "200", "150", "");
        BindAutocomplete("WEIGHTNAME", "WEIGHTNO", "WeightConfig", "200", "150", "");
        BindAutocomplete("SupplyName", "Supply", "Supply", "200", "150", "");
        BindAutocomplete("RECEIVEORG", "PK_RECEIVEORG", "Company", "200", "150", "");
        BindAutocomplete("RECEIVESTORE", "PK_RECEIVESTORE", "Store", "", "", "");
        if (MATERIAL != "") {
            $("#Material").val(MATERIAL);
            $("#MaterialName").val(MATERIALNAME);
        }
        //       if (WEIGHTNAME != "") {
        //         $("#WEIGHTNO").val(WEIGHTNO);
        //           $("#WEIGHTNAME").val(WEIGHTNAME);
        //       }
        if (SUPPLY != "") {
            $("#Supply").val(SUPPLY);
            $("#SupplyName").val(SUPPLYNAME);
        }
        if (BEGINDATE != "") {
            $("#StartTime").val(BEGINDATE);
        }
        if (ENDDATE != "") {
            $("#EndTime").val(ENDDATE);
        }
        if (VBILLCODE != "") {
            $("#VBILLCODE").val(VBILLCODE);
        }
        if (HZUSERNAME != "") {
            $("#HZUSERNAME").val(HZUSERNAME);
        }

        setTimeout(function () {
            GetGrid();
        }, 500);
        //绑定键盘按下事件
        $(document).keypress(function (e) {
            // 回车键事件
            if (e.which == 13) {
                $("#btnSearch").click();
            }
        });
    });
    //搜索
    function btn_Search() {
        var Supply = $("#Supply").val();
        var Material = $("#Material").val();
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var WEIGHTNO = $("#WEIGHTNO").val();
        var TRAFFICCOMPANY = $("#TRAFFICCOMPANY").val();
        var BRANDMODEL = $("#BRANDMODEL").val();
        var VBILLCODE = $("#VBILLCODE").val();
        var PK_RECEIVEORG = $("#PK_RECEIVEORG").val();
        var PK_RECEIVESTORE = $("#PK_RECEIVESTORE").val();
        var HZUSERNAME = $("#HZUSERNAME").val();
        var ZJSTATUS = $("#ZJSTATUS").val();
        var matclass = $("#matclass").val();
        var Cars = $("#Cars").val();
        var DATETYPE = $("#DATETYPE").val();
        var CQDEF11 = $("#CQDEF11").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/ZJSettlement/PCRawYLJS/GetOrderWeightList")?ISJS=0&StartTime=" + StartTime + '&EndTime=' + EndTime + '&Supply=' + Supply + '&Material=' + Material + "&WEIGHTNO=" + WEIGHTNO + "&BRANDMODEL=" + escape(BRANDMODEL) + "&VBILLCODE=" + VBILLCODE + "&PK_RECEIVEORG=" + PK_RECEIVEORG + "&ZJSTATUS=" + ZJSTATUS + "&PK_RECEIVESTORE=" + PK_RECEIVESTORE + "&HZUSERNAME=" + escape(HZUSERNAME) + "&TRAFFICCOMPANY=" + TRAFFICCOMPANY + "&Cars=" + Cars + "&DATETYPE=" + DATETYPE + "&matclass=" + matclass + "&CQDEF11=" + CQDEF11
        }).trigger('reloadGrid');
    }

    function SelectText() {
        var datas = [];
        var ids = $("#gridTable").getGridParam('selarrrow');
        var arr = new Array;
        var ZJSTATUS = $("#ZJSTATUS").val();
        var ZJAUDITSTATUS = "否";
        $.each(ids, function (i, o) {
            var rowData = $("#gridTable").jqGrid("getRowData", ids[i]);
            datas.push(rowData);
            if (ZJSTATUS == "0") {
                ZJAUDITSTATUS = "是";
            } else {
                ZJAUDITSTATUS = rowData.ZJAUDITSTATUS.toLowerCase();
            }
            var json = { "vbillcode": rowData.PK_CONTRACT_B.toLowerCase(), "pk_sendorg": rowData.PK_SENDORG.toLowerCase(), "pk_material": rowData.PK_MATERIAL.toLowerCase(), "hzusername": rowData.HZUSERNAME.toLowerCase(), "zjauditstatus": ZJAUDITSTATUS }
            arr[i] = json;
        })
        if (datas.length > 0) {
            var res = arr.Contains(arr[0]);
            if (res == 0) {
                var frameid = tabiframeId();
                var $parentobj = top.frames[frameid];
                $parentobj.InitGrid(datas);
                closeDialog();
            } else if (res == 1) {
                top.TipMsg("请您选择相同订单与物料与货主并已质检审批的计量数据！", 4000, "error");
            }
        } else {
            tipDialog("请至少选择一个过磅单号！", 3, 0);
            return;
        }
    }

    Array.prototype.Contains = function (m) {
        var res = 0, j = 0, s = 0;
        $.each(this, function (i, n) {
            if (n.vbillcode == m.vbillcode && n.pk_material == m.pk_material && n.hzusername == m.hzusername && n.zjauditstatus == '是') {
                j++;
            }
        });
        if (j == this.length) {
            res = 0;
        }
        else {
            res = 1;
        }
        return res;
    };

    function ClearText() {
        closeDialog();
    }
    //显示
    function GetGrid() {
        var Supply = $("#Supply").val();
        var Material = $("#Material").val();
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var WEIGHTNO = $("#WEIGHTNO").val();
        var VBILLCODE = $("#VBILLCODE").val();
        var ZJSTATUS = $("#ZJSTATUS").val();
        var DATETYPE = $("#DATETYPE").val();
        var HZUSERNAME = $("#HZUSERNAME").val();

        $("#gridTable").jqGrid({
            url: "@Url.Content("~/ZJSettlement/PCRawYLJS/GetOrderWeightList")?ISJS=0&StartTime=" + StartTime + '&EndTime=' + EndTime + '&Supply=' + Supply + '&Material=' + Material + "&WEIGHTNO=" + WEIGHTNO + "&VBILLCODE=" + VBILLCODE + "&ZJSTATUS=" + ZJSTATUS + "&DATETYPE=" + DATETYPE + "&HZUSERNAME=" + escape(HZUSERNAME),
            datatype: "json",
            height: 210,
            width: 895,
            colModel: [
             { label: '过磅单号', name: 'BILLNO', width: 110, align: 'left', hidden: true },
              { label: 'COMPUTERTYPE', name: 'COMPUTERTYPE', hidden: true },
              { label: '过磅单号', name: 'PK_TASK', width: 110, align: 'left' },
                { label: '车号主键', name: 'PK_CARSID', hidden: true },
                { label: '车号', name: 'CARS', index: 'CARS', width: 60, align: 'center' },
               { label: 'PK_BILL', name: 'PK_BILL', width: 120, align: 'center', hidden: true },
                  { label: 'PK_BILL_B', name: 'PK_BILL_B', width: 120, align: 'center', hidden: true },
                 { label: '订单编号', name: 'PK_CONTRACT_B', index: 'PK_CONTRACT_B', width: 120, align: 'center' },
                { label: '供应商PK', name: 'PK_SENDORG', hidden: true },
                { label: '供应商', name: 'SENDORG', index: 'SENDORG', width: 170, align: 'left' },
                { label: '物料编号', name: 'PK_MATERIAL', width: 100, align: 'left', hidden: true },
                { label: '物料', name: 'MATERIAL', index: 'MATERIAL', width: 120, align: 'left' },
                { label: '规格', name: 'MATERIALKIND', index: 'MATERIALKIND', width: 60, align: 'left' },
              { label: '应收重量', name: 'YFSUTTLE', index: 'YFSUTTLE', width: 60, align: 'center' },
                { label: '毛重', name: 'GROSS', index: 'GROSS', width: 60, align: 'center' },
                 { label: '皮重', name: 'TARE', index: 'TARE', width: 60, align: 'center' },
                 { label: '净重', name: 'SUTTLE', index: 'SUTTLE', width: 60, align: 'center' },
               { label: '件数', name: 'DEF3', index: 'DEF3', width: 60, align: 'center' },
              { label: '充公重量', name: 'PDAKZ2', index: 'PDAKZ2', width: 60, align: 'center' },
               { label: '检验结果', name: 'ZJRESULTMEMO', index: 'ZJRESULTMEMO', width: 180, align: 'center' },
                 { label: '加扣杂质', name: 'KS', index: 'KS', width: 60, align: 'center' },
                { label: 'PK_RECEIVEORG', name: 'PK_RECEIVEORG', hidden: true },
                { label: '接收公司', name: 'RECEIVEORG', index: 'RECEIVEORG', width: 140, align: 'left' },
                { label: 'PK_RECEIVESTORE', name: 'PK_RECEIVESTORE', hidden: true },
                { label: '卸货地点', name: 'RECEIVESTORE', index: 'RECEIVESTORE', width: 100, align: 'center' },
                { label: '货主姓名', name: 'HZUSERNAME', index: 'HZUSERNAME', width: 100, align: 'center' },
                 { label: 'PK_ORDER_B', name: 'PK_ORDER_B', hidden: true },
                 { label: '到货单号', name: 'PK_ORDER', index: 'PK_ORDER', width: 130, align: 'center' },
                { label: '承运商PK', name: 'PK_TRAFFICCOMPANY', hidden: true },
                { label: '承运商', name: 'TRAFFICCOMPANY', index: 'TRAFFICCOMPANY', width: 100, align: 'left' },
                { label: '主计量', name: 'DEF1', index: 'DEF1', width: 60, align: 'left' },
                { label: '辅计量', name: 'DEF2', index: 'DEF2', width: 60, align: 'left' },
                { label: '采购部检斤重量', name: 'JJSUTTLE', index: 'JJSUTTLE', width: 100, align: 'center' },
                {
                    label: '是否质检', name: 'ZJTYPE', index: 'ZJTYPE', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != '5') return "<span style='color:red;font-size:18px'>否</span>";
                        if (cellvalue == '5') return "<span style='color:blue;font-size:18px'>是</span>";
                    }
                },
                {
                    label: '重车时间', name: 'WEIGHTDATE', index: 'WEIGHTDATE', width: 120, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                  { label: '车型', name: 'BRANDMODEL', index: 'BRANDMODEL', width: 80, align: 'left' },
                { label: '水分补点', name: 'ISBD', hidden: true },
                { label: '结算重量', name: 'JSSUTTLE', hidden: true },
                { label: '单价', name: 'PRICE', hidden: true },
                { label: '金额', name: 'CHARGE', hidden: true },
                { label: '结算方式', name: 'VBDEF4', index: 'VBDEF4', width: 60, align: 'left' },
                { label: '原木类型', name: 'VBDEF5', index: 'VBDEF5', width: 60, align: 'left' },
               {
                   label: '质检审批', name: 'ZJAUDITSTATUS', index: 'ZJAUDITSTATUS', width: 80, align: 'center',
                   formatter: function (cellvalue, options, rowObject) {
                       if (cellvalue == '0') return "否";
                       if (cellvalue == '1') return "是";
                   }
               },

                 { label: 'DEF11', name: 'DEF11', hidden: true },
                {
                    label: '入厂厂区', name: "CQDEF11", width: 100, sortable: false, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1000')
                            return "阳光纸业";
                        else if (cellvalue == '6000')
                            return "盛世热电";
                        else if (cellvalue == '7000')
                            return "新迈纸业";
                        else if (cellvalue == '8000')
                            return "阳光王子";
                        else if (cellvalue == '9000')
                            return "华迈纸业";
                        else if (cellvalue == '9010')
                            return "科迈制浆";
                        else
                            return "";
                    }
                }
            ],
            pager: "#gridPager",
            sortname: 'BILLNO',
            sortorder: 'desc',
            viewrecords: true,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: true,
            rowNum: 150,
            rowList: [150, 300, 500, 1000],
            footerrow: true,
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "PK_TASK": "合计",
                    "CARS": "<span id='TotalCARSNUM'>0</span>",
                    "YFSUTTLE": "<span id='TotalYFSUTTLE'>0.00</span>",
                    "GROSS": "<span id='TotalGROSS'>0.00</span>",
                    "TARE": "<span id='TotalTARE'>0.00</span>",
                    "SUTTLE": "<span id='TotalSUTTLE'>0.00</span>",
                    "DEF3": "<span id='TotalYFPIECE'>0.00</span>",
                });
            },//单击事件
            onSelectRow: function (RowIndx) {
                Conversion();
            }


        });

        //表格自适应（高度、宽度）
        $(window).resize(function () {
            $("#gridTable").jqGrid('setGridWidth', $(window).width()).jqGrid('setGridHeight', $(window).height() - 77);
        });
    }


    function Conversion() {
        //统计合计
        var TotalCARSNUM = 0, TotalYFSUTTLE = 0.0, TotalGROSS = 0.0, TotalTARE = 0.0, TotalSUTTLE = 0.0, TotalYFPIECE = 0.0;
        var datas = [];
        var ids = $("#gridTable").getGridParam('selarrrow');
        $.each(ids, function (i, o) {
            var rowData = $("#gridTable").jqGrid("getRowData", ids[i]);
            datas.push(rowData);
            var BILLNO = rowData.BILLNO;
            if (BILLNO != "" && BILLNO != undefined) {
                TotalCARSNUM = TotalCARSNUM + 1;
            }
            var YFSUTTLE = rowData.YFSUTTLE;
            if (YFSUTTLE != "" && YFSUTTLE != undefined) {
                TotalYFSUTTLE = FloatAdd(TotalYFSUTTLE, YFSUTTLE);
            }
            var GROSS = rowData.GROSS;
            if (GROSS != "" && GROSS != undefined) {
                TotalGROSS = FloatAdd(TotalGROSS, GROSS);
            }
            var TARE = rowData.TARE;
            if (TARE != "" && TARE != undefined) {
                TotalTARE = FloatAdd(TotalTARE, TARE);
            }
            var SUTTLE = rowData.SUTTLE;
            if (SUTTLE != "" && SUTTLE != undefined) {
                TotalSUTTLE = FloatAdd(TotalSUTTLE, SUTTLE);
            }
            var YFPIECE = rowData.DEF3;
            if (YFPIECE != "" && YFPIECE != undefined) {
                TotalYFPIECE = FloatAdd(TotalYFPIECE, YFPIECE);
            }
        })

        //车数
        $("#TotalCARSNUM").text(TotalCARSNUM);
        //应收重量
        $("#TotalYFSUTTLE").text(getFloat(TotalYFSUTTLE, 3));
        //毛重
        $("#TotalGROSS").text(getFloat(TotalGROSS, 3));
        //皮重
        $("#TotalTARE").text(getFloat(TotalTARE, 3));
        //净重
        $("#TotalSUTTLE").text(getFloat(TotalSUTTLE, 3));

        //件数
        $("#TotalYFPIECE").text(getFloat(TotalYFPIECE, 0));

    }

</script>
<div class="border" style="margin: 1px; border-bottom: none; margin-bottom: 0px;">
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    日期类型：
                </th>
                <td>
                    <select id="DATETYPE" name="DATETYPE" class="select" style="width: 85px;">
                        <option value="">===请选择===</option>
                        <option value="0" selected="selected">毛重时间</option>
                        <option value="1">皮重时间</option>
                    </select>
                </td>
                <th>
                    计量日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-1)" style="width: 100px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 100px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <th>
                    接收公司：
                </th>
                <td>
                    <input id="PK_RECEIVEORG" type="hidden" />
                    <input id="RECEIVEORG" type="text" class="txt" style="width: 110px" />
                </td>
                <td colspan="2">
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
            <tr>
                <th>
                    车号：
                </th>
                <td>
                    <input id="Cars" type="hidden" />
                    <input id="CarsName" type="text" class="txt" style="width: 80px" />
                </td>
                <th>
                    卸货地点：
                </th>
                <td>
                    <input id="PK_RECEIVESTORE" type="hidden" />
                    <input id="RECEIVESTORE" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    承运商：
                </th>
                <td>
                    <input id="TRAFFICCOMPANY" type="hidden" />
                    <input id="TRAFFICCOMPANYNAME" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    供应商：
                </th>
                <td>
                    <input id="Supply" type="hidden" />
                    <input id="SupplyName" type="text" class="txt" style="width: 110px" />
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <th>
                    磅号：
                </th>
                <td>
                    <input id="WEIGHTNO" type="hidden" />
                    <input id="WEIGHTNAME" type="text" class="txt" dbfield="true" style="width: 80px" />
                </td>
                <th>
                    订单编号：
                </th>
                <td>
                    <input id="VBILLCODE" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    物料分类：
                </th>
                <td>
                    <input id="matclass" type="hidden" />
                    <input id="matclassname" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    物料：
                </th>
                <td>
                    <input id="Material" type="hidden" />
                    <input id="MaterialName" type="text" class="txt" style="width: 110px" />
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <th class="formTitle">
                    车型：
                </th>
                <td class="formValue">
                    <select id="BRANDMODEL" class="txt select" style="width: 85px">
                        <option value="">===请选择===</option>
                        <option value="散货车">散货车</option>
                        <option value="汽运集装箱">汽运集装箱</option>
                        <option value="火运集装箱">火运集装箱</option>
                    </select>
                </td>
                <th class="formTitle">
                    质检状态：
                </th>
                <td class="formValue">
                    <select id="ZJSTATUS" class="txt select" style="width: 85px">
                        <option value="">===请选择===</option>
                        <option value="2">检验未审批</option>
                        <option value="1" selected="selected">检验审批</option>
                        <option value="0">未检验</option>
                    </select>
                </td>
                <th>
                    入厂厂区：
                </th>
                <td>
                    <select id="CQDEF11" class="txt select" style="width: 85px">
                        <option value="">---请选择---</option>
                        <option value="1000">阳光纸业</option>
                        <option value="6000">盛世热电</option>
                        <option value="7000">新迈纸业</option>
                        <option value="8000">阳光王子</option>
                        <option value="9000">华迈纸业</option>
                        <option value="9010">科迈制浆</option>
                    </select>
                </td>
                <th>
                    货主姓名：
                </th>
                <td>
                    <input id="HZUSERNAME" type="text" class="txt" style="width: 110px" />
                </td>
            </tr>
        </table>
    </div>
    <div class="line">
    </div>
    <table id="gridTable"></table>
    <div id="gridPager">
    </div>
    <style>
        .ui-widget-content {
            border-left: none;
        }

        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
            background: none;
        }
    </style>
</div>
