@{
    ViewBag.Title = "物料单价》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    var op = GetQuery("op");
    $(function () {
        InitControl();
    });

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseSet/MaterialPrice/SetFormControl", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {

    }
</script>
<form id="form1" style="margin: 1px">
<div id="message" style="display: none">
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            物料：
        </th>
        <td class="formValue">
            <input id="ID" type="hidden" />
            <input id="PK_MATERIAL" type="hidden" />
            <input id="MATCODE" type="hidden" />
            <input id="MATERIALNAME" type="text" class="txt" readonly="readonly" datacol="yes" err="物料" checkexpession="NotNull" autocomplete="off" />
        </td>
        <th class="formTitle">
            规格：
        </th>
        <td class="formValue">
            <input id="MATSPEC" type="text" class="txt " readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            辅助属性：
        </th>
        <td class="formValue">
            <input id="PK_MATERIALSPEC" type="hidden" />
            <input id="MATSPECCODE" type="hidden" />
            <input id="MATERIALSPECNAME" type="text" class="txt " readonly="readonly" autocomplete="off"/>
        </td>
        <th class="formTitle">
            物料分类：
        </th>
        <td class="formValue">
            <input id="GRADE" type="text" class="txt " readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            单价：
        </th>
        <td class="formValue">
            <input id="PRICE" type="text" class="txt NumDecText" readonly="readonly" datacol="yes" err="单价" checkexpession="NotNull" autocomplete="off" />
        </td>
        <th class="formTitle">
            执行时间：
        </th>
        <td class="formValue">
            <input id="IMPLEMENTDATE" type="text" class="txt" readonly="readonly"datacol="yes" err="执行时间" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            描述：
        </th>
        <td class="formValue" colspan="3">
            <textarea id="VMEMO" name="Description" maxlength="200" class="txtArea" rows="5" readonly="readonly"></textarea>
        </td>
    </tr>
</table>
</form>
