@{
    ViewBag.Title = "采样确认物料";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
         BindAutocomplete("MaterialName", "Material", "Material", "", "", "");
        GetGrid();
    })
    //搜索
    function btn_Search() {
            var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var Material = $("#Material").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/BaseSet/ONEWEIGHTMATERIAL/GetPageListJson")?Type=2&StartTime=" + StartTime + '&EndTime=' + EndTime + '&Material=' + escape(Material), page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/BaseSet/ONEWEIGHTMATERIAL/GetPageListJson")?Type=2&StartTime=" + StartTime + '&EndTime=' + EndTime,
            datatype: "json",
            height: $(window).height() - 150,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'ID', width: 80, align: 'left', hidden: true },
                { label: '物料名称', name: 'MATERIALNAME', index: 'MATERIALNAME', width: 150, align: 'center' },
                { label: '规格', name: 'MATERIALSPEC', index: 'MATERIALSPEC', width: 150, align: 'center' },
                {
                    label: '有效', name: 'ISUSE', index: 'ISUSE', width: 45, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "<img src='../../Content/Images/checkokmark.gif'/>";
                        if (cellvalue == '0') return "<img src='../../Content/Images/checknomark.gif'/>";
                    }
                },
                { label: '创建人', name: 'CREATEUSER', index: 'CREUSER', width: 70, align: 'center' },
                {
                    label: '创建时间', name: 'CREATEDATE', index: 'CREATEDATE', width: 120, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                  { label: '备注', name: 'MEMO', index: 'MEMO', width: 150, align: 'center' }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CREATEDATE',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false
 
        });
        columnModelData("#gridTable");
    }
     //新增
    function btn_add() {
      
        AddTabMenu("ONEWEIGHTMATERIALBATCHForm", "@Url.Content("~/BaseSet/ONEWEIGHTMATERIAL/ONEWEIGHTMATERIALBATCHForm")?Type=2&ModuleId=" + ModuleId, "新增采样确认物料", "page_white_add.png", true, true, true);
    
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            var url = "/BaseSet/ONEWEIGHTMATERIAL/ONEWEIGHTMATERIALForm?KeyValue=" + KeyValue+"&ModuleId="+ModuleId;
            openDialog(url, "ONEWEIGHTMATERIALForm", "编辑采样确认物料", 650, 380, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }

    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue ;
            delConfig('/BaseSet/ONEWEIGHTMATERIAL/DeleteOrder', delparm, KeyValue.split(",").length);
        }
    }
 
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入  
    }
   
</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div style="margin-top: 1px; margin-bottom: 0px" class="tools_bar">
        <div class="PartialButton">
            <a id="ai-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
                <b style="background: url(../../Content/Images/Icon16/arrow_refresh.png) no-repeat 50% 4px">
                    刷新</b></span></a>
            <div class="tools_separator">
            </div>
            <a id="ai-add" class="tools_btn" title="新增(Ctrl+Z)" onclick="btn_add()"><span><b
                style="background: url(../../Content/Images/Icon16/add.png) no-repeat 50% 4px">新增</b></span></a>
            <a id="ai-edit" class="tools_btn" title="编辑(Ctrl+W)" onclick="btn_edit()"><span><b
                style="background: url(../../Content/Images/Icon16/edit.gif) no-repeat 50% 4px">
                编辑</b></span></a> <a id="lr-delete" class="tools_btn" title="删除(Ctrl+S)" onclick="btn_delete()">
                    <span><b style="background: url(../../Content/Images/Icon16/DeleteRed.png) no-repeat 50% 4px">
                        删除</b></span></a> <a id="lr-leave" class="tools_btn" title="关闭当前窗口(Esc)" onclick="btn_back()">
                            <span><b style="background: url(../../Content/Images/Icon16/back.png) no-repeat 50% 4px">
                                离开</b></span></a></div>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    物料：
                </th>
                <td>
                    <input id="Material" type="hidden" />
                    <input id="MaterialName" type="text" class="txt" style="width: 150px" />
                </td>
                <th>
                    创建日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" style="width: 120px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
