<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--测试数据库连接地址-->
    <!--<add name="EOSFramework_Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.100.146)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME=orcl)));user id=c##cusjyg;password=eosine123;Min Pool Size=4;Connection Lifetime=120;max pool size=512" providerName="Oracle.ManagedDataAccess.Client" />-->
     <add name="EOSFramework_Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.100.148)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME=VDEDU)));user id=c##cusjyg;password=eosine123;Min Pool Size=4;Connection Lifetime=120;max pool size=512" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings configSource="XmlConfig\system.config">
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <sessionState mode="InProc" timeout="120" />
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="500000000" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".grf" mimeType="grf/gridreport" />
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SAPWebServiceSoap" />
        <binding name="SAPWebServiceSoap1" />
      </basicHttpBinding>
      <customBinding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.100.145:8003/SAPWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SAPWebServiceSoap1"
        contract="WRZS_QKLINVALID.SAPWebServiceSoap" name="SAPWebServiceSoap1" />
      <endpoint address="http://192.168.100.145:8003/SAPWEBService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SAPWebServiceSoap"
        contract="WEBSERVICES_SAP.SAPWebServiceSoap" name="SAPWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>