@{
    ViewBag.Title = "承运商管理";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        InitControl();
    })
    $(function () {
        MATERIALAutocomplete();
        BindAutocomplete("FANAME", "FANO", "ZJFA", "200", "150", "");
        BindAutocomplete("SUPPLYNAME", "SUPPLY", "Supply", "200", "150", "");
    })
    function MATERIALAutocomplete() {
        var txtname = "MATERIALNAME";
        var $txtid = $("#MATERIAL");
        var $txtname = $("#MATERIALNAME");
        var $txtspec = $("#MATERIALSPEC");
        var $txtfaname = $("#FANAME");
        var $txtfano = $("#FANO");
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                var keyvalue = $(this).val();
                if (keyvalue.length >= 3) {
                    DataSource();
                }
                if (keyvalue.length == 0) {
                    $txtid.val("");
                    $txtfano.val("");
                    $txtfaname.val("").attr("material", "");
                }
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtid.val(data.id);
            $txtname.val(data.name);
            $txtspec.val(data.materialspec);
            $txtfano.val("");
            $txtfaname.val("").attr("material", data.id);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/Material", { keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    var datatypename = "自建";
                    if (DataJson[i].datatype == "1") {
                        datatypename = "GS";
                    }
                    if (DataJson[i].datatype == "2") {
                        datatypename = "U9";
                    }
                    html += "<tr>";
                    html += '<td id="id" style="display: none;">' + DataJson[i].id + '</td>';
                    html += '<td id="name" style="width: 60%;">' + DataJson[i].name + '</td>';
                    html += '<td id="materialspec" style="width: 30%;">' + DataJson[i].materialspec + '</td>';
                    html += '<td id="datatype" style="width: 10%;">' + datatypename + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, $txtname.width() + "px", height + "px", html, function (data) {
                    $txtid.val(data.id);
                    $txtname.val(data.name);
                    $txtspec.val(data.materialspec);
                    $txtfano.val("");
                    $txtfaname.val("").attr("material", data.id);
                });
            });
        }
    }
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseSet/ZJFAConfig/SetFormControl", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
            var material = $("#MATERIAL").val();
            $("#FANAME").attr("material", material);
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/BaseSet/ZJFAConfig/SubmitOrderForm?KeyValue=" + GetQuery('KeyValue') + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
<div id="message" style="display: none">
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            单据编号：
        </th>
        <td class="formValue">
            <input id="ID" type="text" class="txt readonly" readonly="readonly" datacol="yes"
                err="单据编号" checkexpession="NotNull" value="" />
        </td>
        <th class="formTitle">
            供应商：
        </th>
        <td class="formValue">
            <input name="SUPPLY" id="SUPPLY" type="hidden" />
            <input id="SUPPLYNAME" type="text" class="txt required" datacol="yes" err="物料" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            物料：
        </th>
        <td class="formValue">
            <input name="MATERIAL" id="MATERIAL" type="hidden" />
            <input id="MATERIALNAME" type="text" class="txt required" datacol="yes" err="物料"
                checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            规格：
        </th>
        <td class="formValue">
            <input id="MATERIALSPEC" maxlength="50" type="text" class="txt readonly" readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            质检方案：
        </th>
        <td class="formValue">
            <input name="FANO" id="FANO" type="hidden" />
            <input id="FANAME" maxlength="50" type="text" class="txt required" datacol="yes"
                err="质检方案" checkexpession="NotNull" material="" />
        </td>
        <th class="formTitle">
            选项：
        </th>
        <td class="formValue">
            <span class="item">
                <input type="checkbox" name="checkbox" checked="checked" id="ISUSE" />
                <label for="ISUSE">
                    有效</label>
            </span>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            说明：
        </th>
        <td class="formValue" colspan="3">
            <textarea id="MEMO" name="MEMO" maxlength="200" class="txtArea" rows="5"></textarea>
        </td>
    </tr>
</table>
</form>
