@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        BindAutocomplete("CARSNAME", "ID", "Cars", "", "", "");
        InitControl();
    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/ExampleModule/ZXTARE/SetFormControl", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/ExampleModule/ZXTARE/SubmitOrderForm?KeyValue=" + GetQuery('KeyValue') + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
<div id="message" style="display: none">
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            车号：
        </th>
        <td class="formValue">
            <input id="ID" type="hidden" dbfield="true" />
            <input id="CARSNAME" type="text" class="txt " datacol="yes" err="车号" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            皮重：
        </th>
        <td class="formValue">
            <input id="TARE" type="text" class="txt required" datacol="yes" err="皮重" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            最后过皮时间：
        </th>
        <td class="formValue">
            <input id="LASTTDATE" type="text" class="txt Wdate" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")"
                          onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd HH:mm:ss&#39;})" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            磅号：
        </th>
        <td class="formValue">
            <input id="LASTCPNO" type="text" class="txt required" />
        </td>
    </tr>
</table>
</form>
