@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        BindAutocomplete("STORENAME", "STORE", "Store", "", "", "");
        InitControl();
    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/BaseSet/STOREAC/SetFormControl", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            AjaxJson("/BaseSet/STOREAC/SubmitOrderForm?KeyValue=" + GetQuery('KeyValue') + "&ModuleId=" + ModuleId, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
<div id="message" style="display: none">
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            仓库：
        </th>
        <td class="formValue">
            <input id="STORE" type="hidden" />
            <input id="STORENAME" type="text" class="txt required" datacol="yes" err="仓库" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            类型：
        </th>
        <td class="formValue">
            <select id="TYPE" class="txtselect" datacol="yes" err="类型" checkexpession="NotNull">
                <option value="">---请选择---</option>
                <option value="0">门禁</option>
                <option value="1">过磅</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            设备号：
        </th>
        <td class="formValue">
            <input id="ACNO" type="text" class="txt required" datacol="yes" err="门禁号" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            选项：
        </th>
        <td class="formValue">
            <span class="item">
                <input type="checkbox" name="checkbox" checked="checked" id="ISUSE" />
                <label for="ISUSE">
                    有效</label>
            </span>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            描述：
        </th>
        <td class="formValue">
            <textarea id="MEMO" name="Description" maxlength="200" class="txtArea" rows="5"></textarea>
        </td>
    </tr>
</table>
</form>
