@{
    ViewBag.Title = "仓库入厂配置";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
            BindAutocomplete("StoreName", "Store", "Store", "", "", "");
        GetGrid();
    })
    //搜索
    function btn_Search() {
            var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var Store = $("#Store").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/BaseSet/STOREAC/GetStoreACList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&Store=' +escape(Store), page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/BaseSet/STOREAC/GetStoreACList")?StartTime=" + StartTime + '&EndTime=' + EndTime  ,
            datatype: "json",
            height: $(window).height() - 150,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'ID',index: 'ID', width: 80, hidden:true }, 

                { label: '仓库', name: 'STORENAME', index: 'STORENAME', width: 150, align: 'center' },
                           { label: '类型', name: 'TYPE', index: 'TYPE', width: 60, align: 'center',
                formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0')
                            return "门禁";
                        else if (cellvalue == '1')
                            return "过磅";
                }
            },
                { label: '装备号', name: 'ACNO', index: 'ACNO', width: 200, align: 'center' },
                   {
                    label: '创建日期', name: 'CREATEDATE', index: 'CREATEDATE', width: 110, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },   {
                    label: '有效', name: 'ISUSE', index: 'ISUSE', width: 45, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "<img src='../../Content/Images/checkokmark.gif'/>";
                       else  if (cellvalue == '0') return "<img src='../../Content/Images/checknomark.gif'/>";
                       else return "<img src='../../Content/Images/checknomark.gif'/>";
                    }
                },
                { label: '备注', name: 'MEMO', index: 'MEMO', width: 200, align: 'center' }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CREATEDATE',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false
 
        });
        //////////
    }
         //新增
    function btn_add() {
        var url = "/BaseSet/STOREAC/STOREACForm?ModuleId="+ModuleId;
        openDialog(url, "Form11111", "新增仓库入厂配置", 650, 380, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }
     //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            var url = "/BaseSet/STOREAC/STOREACForm?KeyValue=" + KeyValue+"&ModuleId="+ModuleId;
            openDialog(url, "Form11111", "编辑仓库入厂配置", 650, 380, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
      //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue ;
            delConfig('/BaseSet/STOREAC/Delete', delparm, KeyValue.split(",").length);
        }
    }
 
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入  
    }
</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
                <b style="background: url(../../Content/Images/Icon16/arrow_refresh.png) no-repeat 50% 4px">
                    刷新</b></span></a> <a id="ai-add" class="tools_btn" title="新增(Ctrl+Z)" onclick="btn_add()">
                        <span><b style="background: url(../../Content/Images/Icon16/add.png) no-repeat 50% 4px">
                            新增</b></span></a><a id="ai-edit" class="tools_btn" title="编辑(Ctrl+W)" onclick="btn_edit()"><span><b
                                style="background: url(../../Content/Images/Icon16/edit.gif) no-repeat 50% 4px">
                                编辑</b></span></a> <a id="lr-delete" class="tools_btn" title="删除(Ctrl+S)" onclick="btn_delete()">
                    <span><b style="background: url(../../Content/Images/Icon16/DeleteRed.png) no-repeat 50% 4px">
                        删除</b></span></a>
            <div class="tools_separator">
            </div>
            <a id="lr-leave" class="tools_btn" title="关闭当前窗口(Esc)" onclick="btn_back()"><span><b
                style="background: url(../../Content/Images/Icon16/back.png) no-repeat 50% 4px">
                离开</b></span></a>
        </div>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    仓库：
                </th>
                <td>
                    <input id="Store" type="hidden" />
                    <input id="StoreName" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    制单日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="" style="width: 120px"
                        onfocus="WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
