@{
    ViewBag.Title = "LGQYTASKQuery";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>

    $(function () {
        BindAutocomplete("MaterialName", "Material", "MaterialCode", "200", "150", "");
        BindAutocomplete("CustomerName", "Customer", "CustomerCode", "200", "150", "");
    })
    //获取条件 
    function GetConditionURL() {
        var url = "";
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var Cars = $("#CarsName").val();
        var BillNo = $("#BillNo").val();
        var Customer = $("#Customer").val();
        //        var DEF4 = $("#DEF4").val();
        var Material = $("#Material").val();
        url += "&StartTime=" + StartTime + "&EndTime=" + EndTime + "&BillNo=" + BillNo;
        url += "&Cars=" + escape(Cars) + "&Material=" + escape(Material);
        url += "&Customer=" + Customer; // + "&DEF4=" + DEF4;
        return url;
    }
    //回调查询确认事件
    function QueryClick(callBack) {
        callBack(GetConditionURL());
        closeDialog();
    }
</script>
<div class="QueryArea">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>
                开始时间：
            </th>
            <td>
                <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-7)" style="width: 200px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
            </td>
        </tr>
        <tr>
            <th>
                结束时间：
            </th>
            <td>
                <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 200px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
            </td>
        </tr>
        <tr>
            <th>
                提货单号：
            </th>
            <td>
                <input id="BillNo" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                车号：
            </th>
            <td>
                <input id="Cars" type="hidden" />
                <input id="CarsName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                客户：
            </th>
            <td>
                <input id="Customer" type="hidden" />
                <input id="CustomerName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                物料：
            </th>
            <td>
                <input id="Material" type="hidden" />
                <input id="MaterialName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        @*        <tr>
            <th>
                提单类型：
            </th>
            <td>
                <select id="DEF4" class="select" style="width: 205px;">
                    <option value="">---请选择---</option>
                    <option value="1">钢材提单</option>
                    <option value="2">焦化提单</option>
                </select>
            </td>
        </tr>*@
    </table>
</div>
