@{
    ViewBag.Title = "HYBillSOFQuery";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>

    $(function () {
        BindAutocomplete("CarsName", "Cars", "Trains", "200", "150", "");
        BindAutocomplete("MaterialName", "Material", "Material", "200", "150", "");
        BindDeptTree("SendName", "Send", "", "");
        BindDeptTree("ReceiveName", "Receive", "", "");
    })
    //获取条件 
    function GetConditionURL() {
        var url = "";
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BillNo = $("#BillNo").val();
        var Send = $("#Send").val();
        var Receive = $("#Receive").val();
        var Cars = $("#Cars").val();
        var Material = $("#Material").val();
        url += "&StartTime=" + StartTime + "&EndTime=" + EndTime + "&BillNo=" + BillNo;
        url += "&Send=" + Send + "&Cars=" + Cars + "&Material=" + Material;
        url += "&Receive=" + Receive;
        return url;
    }
    //回调查询确认事件
    function QueryClick(callBack) {
        callBack(GetConditionURL());
        closeDialog();
    }
</script>
<div class="QueryArea">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>
                开始时间：
            </th>
            <td>
                <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-7)" style="width: 200px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
            </td>
        </tr>
        <tr>
            <th>
                结束时间：
            </th>
            <td>
                <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 200px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
            </td>
        </tr>
        <tr>
            <th>
                发货单号：
            </th>
            <td>
                <input id="BillNo" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                发货单位：
            </th>
            <td>
                <input id="Send" type="hidden" />
                <input id="SendName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                收货单位 ：
            </th>
            <td>
                <input id="Receive" type="hidden" />
                <input id="ReceiveName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                车号：
            </th>
            <td>
                <input id="Cars" type="hidden" />
                <input id="CarsName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <th>
                物料：
            </th>
            <td>
                <input id="Material" type="hidden" />
                <input id="MaterialName" type="text" class="txt" style="width: 200px" />
            </td>
        </tr>
    </table>
</div>
